In [1]:
import pandas as pd

In [2]:
df_FanStatus = pd.read_csv('RowData.csv')
df_ST = pd.read_csv('RowData(1).csv')
df_SH = pd.read_csv('RowData(2).csv')

In [3]:
target = "F12 3F "
global_sensor = "F12-3F-"

In [4]:
sensor_1 = "C02"
sensor_2 = "C19"
sensor_3 = "D08"
sensor_4 = "D14"
sensor_5 = "E03"
sensor_6 = "E19"
sensor_7 = "F02"
sensor_8 = "F08"
sensor_9 = "F14"
sensor_10 = "F19"

AHU01

In [5]:
target_string = "AHU01"
# temp = df[(df['Name']=="F12 3F AHU01")].reset_index(drop=True)
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU01_status['AHU01_Status'] = temp_AHU01_status['Value']
temp_AHU01_status = temp_AHU01_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_status.head())
print(temp_AHU01_status.shape)


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU01_SH['AHU01_SH'] = temp_AHU01_SH['Value']
temp_AHU01_SH = temp_AHU01_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_SH.head())
print(temp_AHU01_SH.shape)


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU01_ST['AHU01_ST'] = temp_AHU01_ST['Value']
temp_AHU01_ST = temp_AHU01_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_ST.head())
print(temp_AHU01_ST.shape)

temp_AHU01SHST = pd.merge(temp_AHU01_SH,temp_AHU01_ST)
print(temp_AHU01SHST.head())
print(temp_AHU01SHST.shape)

temp_AHU01 = pd.merge(temp_AHU01_status,temp_AHU01SHST)
print(temp_AHU01.head())
print(temp_AHU01.shape)

target_string_temp = F12 3F AHU01
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU01  FanStatus      1   NaN  2019/05/27  00:05
1  F12 3F AHU01  FanStatus      1   NaN  2019/05/27  00:10
2  F12 3F AHU01  FanStatus      1   NaN  2019/05/27  00:15
3  F12 3F AHU01  FanStatus      1   NaN  2019/05/27  00:20
4  F12 3F AHU01  FanStatus      1   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU01_Status
0  2019/05/27  00:05             1
1  2019/05/27  00:10             1
2  2019/05/27  00:15             1
3  2019/05/27  00:20             1
4  2019/05/27  00:25             1
(1500, 3)
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU01   SH  88.8869   NaN  2019/05/27  00:05
1  F12 3F AHU01   SH  88.8778   NaN  2019/05/27  00:10
2  F12 3F AHU01   SH  88.8552   NaN  2019/05/27  00:15
3  F12 3F AHU01   SH  89.3480   NaN  2019/05/27  00:20
4  F12 3F AHU01   SH  88.9004   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU01_SH
0  2019/05/27  00:05   88.8869
1  2019/05/27  00:10   88.8778
2  2019/05/27  00:15   88.8552
3  2019/05/27  00:20   89.3480
4  2019/05/27  00:25   88.9004
(1500, 3)
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU01   ST  13.2675   NaN  2019/05/27  00:05
1  F12 3F AHU01   ST  13.2697   NaN  2019/05/27  00:10
2  F12 3F AHU01   ST  13.1544   NaN  2019/05/27  00:15
3  F12 3F AHU01   ST  13.1590   NaN  2019/05/27  00:20
4  F12 3F AHU01   ST  13.1477   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU01_ST
0  2019/05/27  00:05   13.2675
1  2019/05/27  00:10   13.2697
2  2019/05/27  00:15   13.1544
3  2019/05/27  00:20   13.1590
4  2019/05/27  00:25   13.1477
(1500, 3)
         Date   Time  AHU01_SH  AHU01_ST
0  2019/05/27  00:05   88.8869   13.2675
1  2019/05/27  00:10   88.8778   13.2697
2  2019/05/27  00:15   88.8552   13.1544
3  2019/05/27  00:20   89.3480   13.1590
4  2019/05/27  00:25   88.9004   13.1477
(1500, 4)
         Date   Time  AHU01_Status  AHU01_SH  AHU01_ST
0  2019/05/27  00:05             1   88.8869   13.2675
1  2019/05/27  00:10             1   88.8778   13.2697
2  2019/05/27  00:15             1   88.8552   13.1544
3  2019/05/27  00:20             1   89.3480   13.1590
4  2019/05/27  00:25             1   88.9004   13.1477
(1500, 5)

AHU02

In [6]:
# temp = df[(df['Name']=="F12 3F AHU02")].reset_index(drop=True)
target_string = "AHU02"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU02_status['AHU02_Status'] = temp_AHU02_status['Value']
temp_AHU02_status = temp_AHU02_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU02_SH['AHU02_SH'] = temp_AHU02_SH['Value']
temp_AHU02_SH = temp_AHU02_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU02_ST['AHU02_ST'] = temp_AHU02_ST['Value']
temp_AHU02_ST = temp_AHU02_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_ST.head())
print(temp_AHU02_ST.shape)

temp_AHU02SHST = pd.merge(temp_AHU02_SH,temp_AHU02_ST)
print(temp_AHU02SHST.head())
print(temp_AHU02SHST.shape)

temp_AHU02 = pd.merge(temp_AHU02_status,temp_AHU02SHST)
print(temp_AHU02.head())
print(temp_AHU02.shape)

target_string_temp = F12 3F AHU02
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU02  FanStatus      1   NaN  2019/05/27  00:05
1  F12 3F AHU02  FanStatus      1   NaN  2019/05/27  00:10
2  F12 3F AHU02  FanStatus      1   NaN  2019/05/27  00:15
3  F12 3F AHU02  FanStatus      1   NaN  2019/05/27  00:20
4  F12 3F AHU02  FanStatus      1   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU02_Status
0  2019/05/27  00:05             1
1  2019/05/27  00:10             1
2  2019/05/27  00:15             1
3  2019/05/27  00:20             1
4  2019/05/27  00:25             1
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU02   SH  87.4130   NaN  2019/05/27  00:05
1  F12 3F AHU02   SH  87.2186   NaN  2019/05/27  00:10
2  F12 3F AHU02   SH  87.1100   NaN  2019/05/27  00:15
3  F12 3F AHU02   SH  87.1869   NaN  2019/05/27  00:20
4  F12 3F AHU02   SH  87.2095   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU02_SH
0  2019/05/27  00:05   87.4130
1  2019/05/27  00:10   87.2186
2  2019/05/27  00:15   87.1100
3  2019/05/27  00:20   87.1869
4  2019/05/27  00:25   87.2095
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU02   ST  16.1995   NaN  2019/05/27  00:05
1  F12 3F AHU02   ST  15.8559   NaN  2019/05/27  00:10
2  F12 3F AHU02   ST  15.5936   NaN  2019/05/27  00:15
3  F12 3F AHU02   ST  15.4557   NaN  2019/05/27  00:20
4  F12 3F AHU02   ST  15.2658   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU02_ST
0  2019/05/27  00:05   16.1995
1  2019/05/27  00:10   15.8559
2  2019/05/27  00:15   15.5936
3  2019/05/27  00:20   15.4557
4  2019/05/27  00:25   15.2658
(1500, 3)
         Date   Time  AHU02_SH  AHU02_ST
0  2019/05/27  00:05   87.4130   16.1995
1  2019/05/27  00:10   87.2186   15.8559
2  2019/05/27  00:15   87.1100   15.5936
3  2019/05/27  00:20   87.1869   15.4557
4  2019/05/27  00:25   87.2095   15.2658
(1500, 4)
         Date   Time  AHU02_Status  AHU02_SH  AHU02_ST
0  2019/05/27  00:05             1   87.4130   16.1995
1  2019/05/27  00:10             1   87.2186   15.8559
2  2019/05/27  00:15             1   87.1100   15.5936
3  2019/05/27  00:20             1   87.1869   15.4557
4  2019/05/27  00:25             1   87.2095   15.2658
(1500, 5)

AHU03

In [7]:
# temp = df[(df['Name']=="F12 3F AHU03")].reset_index(drop=True)
target_string = "AHU03"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU03_status['AHU03_Status'] = temp_AHU03_status['Value']
temp_AHU03_status = temp_AHU03_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU03_SH['AHU03_SH'] = temp_AHU03_SH['Value']
temp_AHU03_SH = temp_AHU03_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU03_ST['AHU03_ST'] = temp_AHU03_ST['Value']
temp_AHU03_ST = temp_AHU03_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_ST.head())

temp_AHU03SHST = pd.merge(temp_AHU03_SH,temp_AHU03_ST)
print(temp_AHU03SHST.head())
print(temp_AHU03SHST.shape)

temp_AHU03 = pd.merge(temp_AHU03_status,temp_AHU03SHST)
print(temp_AHU03.head())
print(temp_AHU03.shape)

target_string_temp = F12 3F AHU03
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU03  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU03  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU03  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU03  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU03  FanStatus      0   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU03_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU03   SH  62.1937   NaN  2019/05/27  00:05
1  F12 3F AHU03   SH  61.6466   NaN  2019/05/27  00:10
2  F12 3F AHU03   SH  61.4206   NaN  2019/05/27  00:15
3  F12 3F AHU03   SH  61.1357   NaN  2019/05/27  00:20
4  F12 3F AHU03   SH  60.8599   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU03_SH
0  2019/05/27  00:05   62.1937
1  2019/05/27  00:10   61.6466
2  2019/05/27  00:15   61.4206
3  2019/05/27  00:20   61.1357
4  2019/05/27  00:25   60.8599
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU03   ST  23.8697   NaN  2019/05/27  00:05
1  F12 3F AHU03   ST  23.8448   NaN  2019/05/27  00:10
2  F12 3F AHU03   ST  23.8946   NaN  2019/05/27  00:15
3  F12 3F AHU03   ST  23.8923   NaN  2019/05/27  00:20
4  F12 3F AHU03   ST  23.8855   NaN  2019/05/27  00:25
(1500, 6)
         Date   Time  AHU03_ST
0  2019/05/27  00:05   23.8697
1  2019/05/27  00:10   23.8448
2  2019/05/27  00:15   23.8946
3  2019/05/27  00:20   23.8923
4  2019/05/27  00:25   23.8855
         Date   Time  AHU03_SH  AHU03_ST
0  2019/05/27  00:05   62.1937   23.8697
1  2019/05/27  00:10   61.6466   23.8448
2  2019/05/27  00:15   61.4206   23.8946
3  2019/05/27  00:20   61.1357   23.8923
4  2019/05/27  00:25   60.8599   23.8855
(1500, 4)
         Date   Time  AHU03_Status  AHU03_SH  AHU03_ST
0  2019/05/27  00:05             0   62.1937   23.8697
1  2019/05/27  00:10             0   61.6466   23.8448
2  2019/05/27  00:15             0   61.4206   23.8946
3  2019/05/27  00:20             0   61.1357   23.8923
4  2019/05/27  00:25             0   60.8599   23.8855
(1500, 5)

AHU04

In [8]:
# temp = df[(df['Name']=="F12 3F AHU04")].reset_index(drop=True)
target_string = "AHU04"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU04_status['AHU04_Status'] = temp_AHU04_status['Value']
temp_AHU04_status = temp_AHU04_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU04_SH['AHU04_SH'] = temp_AHU04_SH['Value']
temp_AHU04_SH = temp_AHU04_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU04_ST['AHU04_ST'] = temp_AHU04_ST['Value']
temp_AHU04_ST = temp_AHU04_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_ST.head())

temp_AHU04SHST = pd.merge(temp_AHU04_SH,temp_AHU04_ST)
print(temp_AHU04SHST.head())
print(temp_AHU04SHST.shape)

temp_AHU04 = pd.merge(temp_AHU04_status,temp_AHU04SHST)
print(temp_AHU04.head())
print(temp_AHU04.shape)

target_string_temp = F12 3F AHU04
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU04  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU04  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU04  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU04  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU04  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU04_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU04   SH  67.3117   NaN  2019/05/27  00:05
1  F12 3F AHU04   SH  66.8008   NaN  2019/05/27  00:10
2  F12 3F AHU04   SH  66.6019   NaN  2019/05/27  00:15
3  F12 3F AHU04   SH  66.1317   NaN  2019/05/27  00:20
4  F12 3F AHU04   SH  65.3992   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU04_SH
0  2019/05/27  00:05   67.3117
1  2019/05/27  00:10   66.8008
2  2019/05/27  00:15   66.6019
3  2019/05/27  00:20   66.1317
4  2019/05/27  00:25   65.3992
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU04   ST  24.5411   NaN  2019/05/27  00:05
1  F12 3F AHU04   ST  24.5886   NaN  2019/05/27  00:10
2  F12 3F AHU04   ST  24.5863   NaN  2019/05/27  00:15
3  F12 3F AHU04   ST  24.5524   NaN  2019/05/27  00:20
4  F12 3F AHU04   ST  24.5366   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU04_ST
0  2019/05/27  00:05   24.5411
1  2019/05/27  00:10   24.5886
2  2019/05/27  00:15   24.5863
3  2019/05/27  00:20   24.5524
4  2019/05/27  00:25   24.5366
         Date   Time  AHU04_SH  AHU04_ST
0  2019/05/27  00:05   67.3117   24.5411
1  2019/05/27  00:10   66.8008   24.5886
2  2019/05/27  00:15   66.6019   24.5863
3  2019/05/27  00:20   66.1317   24.5524
4  2019/05/27  00:25   65.3992   24.5366
(1505, 4)
         Date   Time  AHU04_Status  AHU04_SH  AHU04_ST
0  2019/05/27  00:05             0   67.3117   24.5411
1  2019/05/27  00:10             0   66.8008   24.5886
2  2019/05/27  00:15             0   66.6019   24.5863
3  2019/05/27  00:20             0   66.1317   24.5524
4  2019/05/27  00:25             0   65.3992   24.5366
(1505, 5)

AHU05

In [9]:
# temp = df[(df['Name']=="F12 3F AHU05")].reset_index(drop=True)
target_string = "AHU05"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU05_status['AHU05_Status'] = temp_AHU05_status['Value']
temp_AHU05_status = temp_AHU05_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU05_SH['AHU05_SH'] = temp_AHU05_SH['Value']
temp_AHU05_SH = temp_AHU05_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_SH.head())
print(temp_AHU05_SH.shape)


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU05_ST['AHU05_ST'] = temp_AHU05_ST['Value']
temp_AHU05_ST = temp_AHU05_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_ST.head())
print(temp_AHU05_ST.shape)

temp_AHU05SHST = pd.merge(temp_AHU05_SH,temp_AHU05_ST)
print(temp_AHU05SHST.head())
print(temp_AHU05SHST.shape)

temp_AHU05 = pd.merge(temp_AHU05_status,temp_AHU05SHST)
print(temp_AHU05.head())
print(temp_AHU05.shape)

target_string_temp = F12 3F AHU05
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU05  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU05  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU05  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU05  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU05  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU05_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU05   SH  75.5719   NaN  2019/05/27  00:05
1  F12 3F AHU05   SH  75.7030   NaN  2019/05/27  00:10
2  F12 3F AHU05   SH  75.6307   NaN  2019/05/27  00:15
3  F12 3F AHU05   SH  75.7663   NaN  2019/05/27  00:20
4  F12 3F AHU05   SH  75.8522   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU05_SH
0  2019/05/27  00:05   75.5719
1  2019/05/27  00:10   75.7030
2  2019/05/27  00:15   75.6307
3  2019/05/27  00:20   75.7663
4  2019/05/27  00:25   75.8522
(1505, 3)
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU05   ST  23.8855   NaN  2019/05/27  00:05
1  F12 3F AHU05   ST  23.8968   NaN  2019/05/27  00:10
2  F12 3F AHU05   ST  23.8561   NaN  2019/05/27  00:15
3  F12 3F AHU05   ST  23.8787   NaN  2019/05/27  00:20
4  F12 3F AHU05   ST  23.8697   NaN  2019/05/27  00:25
(1507, 6)
         Date   Time  AHU05_ST
0  2019/05/27  00:05   23.8855
1  2019/05/27  00:10   23.8968
2  2019/05/27  00:15   23.8561
3  2019/05/27  00:20   23.8787
4  2019/05/27  00:25   23.8697
(1507, 3)
         Date   Time  AHU05_SH  AHU05_ST
0  2019/05/27  00:05   75.5719   23.8855
1  2019/05/27  00:10   75.7030   23.8968
2  2019/05/27  00:15   75.6307   23.8561
3  2019/05/27  00:20   75.7663   23.8787
4  2019/05/27  00:25   75.8522   23.8697
(1505, 4)
         Date   Time  AHU05_Status  AHU05_SH  AHU05_ST
0  2019/05/27  00:05             0   75.5719   23.8855
1  2019/05/27  00:10             0   75.7030   23.8968
2  2019/05/27  00:15             0   75.6307   23.8561
3  2019/05/27  00:20             0   75.7663   23.8787
4  2019/05/27  00:25             0   75.8522   23.8697
(1505, 5)

AHU06

In [10]:
# temp = df[(df['Name']=="F12 3F AHU06")].reset_index(drop=True)
target_string = "AHU06"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU06_status['AHU06_Status'] = temp_AHU06_status['Value']
temp_AHU06_status = temp_AHU06_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU06_SH['AHU06_SH'] = temp_AHU06_SH['Value']
temp_AHU06_SH = temp_AHU06_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU06_ST['AHU06_ST'] = temp_AHU06_ST['Value']
temp_AHU06_ST = temp_AHU06_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_ST.head())

temp_AHU06SHST = pd.merge(temp_AHU06_SH,temp_AHU06_ST)
print(temp_AHU06SHST.head())
print(temp_AHU06SHST.shape)

temp_AHU06 = pd.merge(temp_AHU06_status,temp_AHU06SHST)
print(temp_AHU06.head())
print(temp_AHU06.shape)

target_string_temp = F12 3F AHU06
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU06  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU06  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU06  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU06  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU06  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU06_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU06   SH  70.1058   NaN  2019/05/27  00:05
1  F12 3F AHU06   SH  70.1600   NaN  2019/05/27  00:10
2  F12 3F AHU06   SH  70.1194   NaN  2019/05/27  00:15
3  F12 3F AHU06   SH  70.0968   NaN  2019/05/27  00:20
4  F12 3F AHU06   SH  70.1600   NaN  2019/05/27  00:25
(1506, 6)
         Date   Time  AHU06_SH
0  2019/05/27  00:05   70.1058
1  2019/05/27  00:10   70.1600
2  2019/05/27  00:15   70.1194
3  2019/05/27  00:20   70.0968
4  2019/05/27  00:25   70.1600
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU06   ST  23.9895   NaN  2019/05/27  00:05
1  F12 3F AHU06   ST  23.9963   NaN  2019/05/27  00:10
2  F12 3F AHU06   ST  23.9872   NaN  2019/05/27  00:15
3  F12 3F AHU06   ST  23.9646   NaN  2019/05/27  00:20
4  F12 3F AHU06   ST  24.0076   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU06_ST
0  2019/05/27  00:05   23.9895
1  2019/05/27  00:10   23.9963
2  2019/05/27  00:15   23.9872
3  2019/05/27  00:20   23.9646
4  2019/05/27  00:25   24.0076
         Date   Time  AHU06_SH  AHU06_ST
0  2019/05/27  00:05   70.1058   23.9895
1  2019/05/27  00:10   70.1600   23.9963
2  2019/05/27  00:15   70.1194   23.9872
3  2019/05/27  00:20   70.0968   23.9646
4  2019/05/27  00:25   70.1600   24.0076
(1505, 4)
         Date   Time  AHU06_Status  AHU06_SH  AHU06_ST
0  2019/05/27  00:05             0   70.1058   23.9895
1  2019/05/27  00:10             0   70.1600   23.9963
2  2019/05/27  00:15             0   70.1194   23.9872
3  2019/05/27  00:20             0   70.0968   23.9646
4  2019/05/27  00:25             0   70.1600   24.0076
(1505, 5)

AHU07

In [11]:
# temp = df[(df['Name']=="F12 3F AHU07")].reset_index(drop=True)
target_string = "AHU07"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU07_status['AHU07_Status'] = temp_AHU07_status['Value']
temp_AHU07_status = temp_AHU07_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU07_SH['AHU07_SH'] = temp_AHU07_SH['Value']
temp_AHU07_SH = temp_AHU07_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU07_ST['AHU07_ST'] = temp_AHU07_ST['Value']
temp_AHU07_ST = temp_AHU07_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_ST.head())

temp_AHU07SHST = pd.merge(temp_AHU07_SH,temp_AHU07_ST)
print(temp_AHU07SHST.head())
print(temp_AHU07SHST.shape)
temp_AHU07 = pd.merge(temp_AHU07_status,temp_AHU07SHST)
print(temp_AHU07.head())
print(temp_AHU07.shape)

target_string_temp = F12 3F AHU07
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU07  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU07  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU07  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU07  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU07  FanStatus      0   NaN  2019/05/27  00:25
(1506, 6)
         Date   Time  AHU07_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU07   SH  72.1855   NaN  2019/05/27  00:05
1  F12 3F AHU07   SH  72.4839   NaN  2019/05/27  00:10
2  F12 3F AHU07   SH  72.4207   NaN  2019/05/27  00:15
3  F12 3F AHU07   SH  72.4930   NaN  2019/05/27  00:20
4  F12 3F AHU07   SH  72.4613   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU07_SH
0  2019/05/27  00:05   72.1855
1  2019/05/27  00:10   72.4839
2  2019/05/27  00:15   72.4207
3  2019/05/27  00:20   72.4930
4  2019/05/27  00:25   72.4613
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU07   ST  23.8629   NaN  2019/05/27  00:05
1  F12 3F AHU07   ST  23.8765   NaN  2019/05/27  00:10
2  F12 3F AHU07   ST  23.8448   NaN  2019/05/27  00:15
3  F12 3F AHU07   ST  23.8810   NaN  2019/05/27  00:20
4  F12 3F AHU07   ST  23.8652   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU07_ST
0  2019/05/27  00:05   23.8629
1  2019/05/27  00:10   23.8765
2  2019/05/27  00:15   23.8448
3  2019/05/27  00:20   23.8810
4  2019/05/27  00:25   23.8652
         Date   Time  AHU07_SH  AHU07_ST
0  2019/05/27  00:05   72.1855   23.8629
1  2019/05/27  00:10   72.4839   23.8765
2  2019/05/27  00:15   72.4207   23.8448
3  2019/05/27  00:20   72.4930   23.8810
4  2019/05/27  00:25   72.4613   23.8652
(1505, 4)
         Date   Time  AHU07_Status  AHU07_SH  AHU07_ST
0  2019/05/27  00:05             0   72.1855   23.8629
1  2019/05/27  00:10             0   72.4839   23.8765
2  2019/05/27  00:15             0   72.4207   23.8448
3  2019/05/27  00:20             0   72.4930   23.8810
4  2019/05/27  00:25             0   72.4613   23.8652
(1505, 5)

AHU08

In [12]:
# temp = df[(df['Name']=="F12 3F AHU08")].reset_index(drop=True)
target_string = "AHU08"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU08_status['AHU08_Status'] = temp_AHU08_status['Value']
temp_AHU08_status = temp_AHU08_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU08_SH['AHU08_SH'] = temp_AHU08_SH['Value']
temp_AHU08_SH = temp_AHU08_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU08_ST['AHU08_ST'] = temp_AHU08_ST['Value']
temp_AHU08_ST = temp_AHU08_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_ST.head())

temp_AHU08SHST = pd.merge(temp_AHU08_SH,temp_AHU08_ST)
print(temp_AHU08SHST.head())
print(temp_AHU08SHST.shape)

temp_AHU08 = pd.merge(temp_AHU08_status,temp_AHU08SHST)
print(temp_AHU08.head())
print(temp_AHU08.shape)

target_string_temp = F12 3F AHU08
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU08  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU08  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU08  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU08  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU08  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU08_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU08   SH  72.9768   NaN  2019/05/27  00:05
1  F12 3F AHU08   SH  73.1260   NaN  2019/05/27  00:10
2  F12 3F AHU08   SH  73.3204   NaN  2019/05/27  00:15
3  F12 3F AHU08   SH  73.3746   NaN  2019/05/27  00:20
4  F12 3F AHU08   SH  73.4741   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU08_SH
0  2019/05/27  00:05   72.9768
1  2019/05/27  00:10   73.1260
2  2019/05/27  00:15   73.3204
3  2019/05/27  00:20   73.3746
4  2019/05/27  00:25   73.4741
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU08   ST  23.8313   NaN  2019/05/27  00:05
1  F12 3F AHU08   ST  23.8019   NaN  2019/05/27  00:10
2  F12 3F AHU08   ST  23.8652   NaN  2019/05/27  00:15
3  F12 3F AHU08   ST  23.8290   NaN  2019/05/27  00:20
4  F12 3F AHU08   ST  23.8245   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU08_ST
0  2019/05/27  00:05   23.8313
1  2019/05/27  00:10   23.8019
2  2019/05/27  00:15   23.8652
3  2019/05/27  00:20   23.8290
4  2019/05/27  00:25   23.8245
         Date   Time  AHU08_SH  AHU08_ST
0  2019/05/27  00:05   72.9768   23.8313
1  2019/05/27  00:10   73.1260   23.8019
2  2019/05/27  00:15   73.3204   23.8652
3  2019/05/27  00:20   73.3746   23.8290
4  2019/05/27  00:25   73.4741   23.8245
(1505, 4)
         Date   Time  AHU08_Status  AHU08_SH  AHU08_ST
0  2019/05/27  00:05             0   72.9768   23.8313
1  2019/05/27  00:10             0   73.1260   23.8019
2  2019/05/27  00:15             0   73.3204   23.8652
3  2019/05/27  00:20             0   73.3746   23.8290
4  2019/05/27  00:25             0   73.4741   23.8245
(1505, 5)

AHU09

In [13]:
# temp = df[(df['Name']=="F12 3F AHU09")].reset_index(drop=True)
target_string = "AHU09"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU09_status['AHU09_Status'] = temp_AHU09_status['Value']
temp_AHU09_status = temp_AHU09_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU09_SH['AHU09_SH'] = temp_AHU09_SH['Value']
temp_AHU09_SH = temp_AHU09_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU09_ST['AHU09_ST'] = temp_AHU09_ST['Value']
temp_AHU09_ST = temp_AHU09_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_ST.head())

temp_AHU09SHST = pd.merge(temp_AHU09_SH,temp_AHU09_ST)
print(temp_AHU09SHST.head())

temp_AHU09 = pd.merge(temp_AHU09_status,temp_AHU09SHST)
print(temp_AHU09.head())

target_string_temp = F12 3F AHU09
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU09  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU09  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU09  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU09  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU09  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU09_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU09   SH  74.5501   NaN  2019/05/27  00:05
1  F12 3F AHU09   SH  74.5908   NaN  2019/05/27  00:10
2  F12 3F AHU09   SH  74.5230   NaN  2019/05/27  00:15
3  F12 3F AHU09   SH  74.6541   NaN  2019/05/27  00:20
4  F12 3F AHU09   SH  74.6360   NaN  2019/05/27  00:25
(1506, 6)
         Date   Time  AHU09_SH
0  2019/05/27  00:05   74.5501
1  2019/05/27  00:10   74.5908
2  2019/05/27  00:15   74.5230
3  2019/05/27  00:20   74.6541
4  2019/05/27  00:25   74.6360
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU09   ST  24.4055   NaN  2019/05/27  00:05
1  F12 3F AHU09   ST  24.4371   NaN  2019/05/27  00:10
2  F12 3F AHU09   ST  24.3964   NaN  2019/05/27  00:15
3  F12 3F AHU09   ST  24.4190   NaN  2019/05/27  00:20
4  F12 3F AHU09   ST  24.4009   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU09_ST
0  2019/05/27  00:05   24.4055
1  2019/05/27  00:10   24.4371
2  2019/05/27  00:15   24.3964
3  2019/05/27  00:20   24.4190
4  2019/05/27  00:25   24.4009
         Date   Time  AHU09_SH  AHU09_ST
0  2019/05/27  00:05   74.5501   24.4055
1  2019/05/27  00:10   74.5908   24.4371
2  2019/05/27  00:15   74.5230   24.3964
3  2019/05/27  00:20   74.6541   24.4190
4  2019/05/27  00:25   74.6360   24.4009
         Date   Time  AHU09_Status  AHU09_SH  AHU09_ST
0  2019/05/27  00:05             0   74.5501   24.4055
1  2019/05/27  00:10             0   74.5908   24.4371
2  2019/05/27  00:15             0   74.5230   24.3964
3  2019/05/27  00:20             0   74.6541   24.4190
4  2019/05/27  00:25             0   74.6360   24.4009

AHU10

In [14]:
# temp = df[(df['Name']=="F12 3F AHU10")].reset_index(drop=True)
target_string = "AHU10"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU10_status['AHU10_Status'] = temp_AHU10_status['Value']
temp_AHU10_status = temp_AHU10_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_status.head())



temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU10_SH['AHU10_SH'] = temp_AHU10_SH['Value']
temp_AHU10_SH = temp_AHU10_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU10_ST['AHU10_ST'] = temp_AHU10_ST['Value']
temp_AHU10_ST = temp_AHU10_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_ST.head())

temp_AHU10SHST = pd.merge(temp_AHU10_SH,temp_AHU10_ST)
print(temp_AHU10SHST.head())

temp_AHU10 = pd.merge(temp_AHU10_status,temp_AHU10SHST)
print(temp_AHU10.head())

target_string_temp = F12 3F AHU10
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU10  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU10  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU10  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU10  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU10  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU10_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU10   SH  77.7240   NaN  2019/05/27  00:05
1  F12 3F AHU10   SH  77.7105   NaN  2019/05/27  00:10
2  F12 3F AHU10   SH  77.8371   NaN  2019/05/27  00:15
3  F12 3F AHU10   SH  77.8551   NaN  2019/05/27  00:20
4  F12 3F AHU10   SH  77.9094   NaN  2019/05/27  00:25
(1506, 6)
         Date   Time  AHU10_SH
0  2019/05/27  00:05   77.7240
1  2019/05/27  00:10   77.7105
2  2019/05/27  00:15   77.8371
3  2019/05/27  00:20   77.8551
4  2019/05/27  00:25   77.9094
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU10   ST  24.0438   NaN  2019/05/27  00:05
1  F12 3F AHU10   ST  24.0347   NaN  2019/05/27  00:10
2  F12 3F AHU10   ST  24.0415   NaN  2019/05/27  00:15
3  F12 3F AHU10   ST  24.0664   NaN  2019/05/27  00:20
4  F12 3F AHU10   ST  24.0347   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU10_ST
0  2019/05/27  00:05   24.0438
1  2019/05/27  00:10   24.0347
2  2019/05/27  00:15   24.0415
3  2019/05/27  00:20   24.0664
4  2019/05/27  00:25   24.0347
         Date   Time  AHU10_SH  AHU10_ST
0  2019/05/27  00:05   77.7240   24.0438
1  2019/05/27  00:10   77.7105   24.0347
2  2019/05/27  00:15   77.8371   24.0415
3  2019/05/27  00:20   77.8551   24.0664
4  2019/05/27  00:25   77.9094   24.0347
         Date   Time  AHU10_Status  AHU10_SH  AHU10_ST
0  2019/05/27  00:05             0   77.7240   24.0438
1  2019/05/27  00:10             0   77.7105   24.0347
2  2019/05/27  00:15             0   77.8371   24.0415
3  2019/05/27  00:20             0   77.8551   24.0664
4  2019/05/27  00:25             0   77.9094   24.0347

AHU11

In [15]:
# temp = df[(df['Name']=="F12 3F AHU11")].reset_index(drop=True)
target_string = "AHU11"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU11_status['AHU11_Status'] = temp_AHU11_status['Value']
temp_AHU11_status = temp_AHU11_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU11_SH['AHU11_SH'] = temp_AHU11_SH['Value']
temp_AHU11_SH = temp_AHU11_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU11_ST['AHU11_ST'] = temp_AHU11_ST['Value']
temp_AHU11_ST = temp_AHU11_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_ST.head())

temp_AHU11SHST = pd.merge(temp_AHU11_SH,temp_AHU11_ST)
print(temp_AHU11SHST.head())

temp_AHU11 = pd.merge(temp_AHU11_status,temp_AHU11SHST)
print(temp_AHU11.head())

target_string_temp = F12 3F AHU11
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU11  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU11  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU11  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU11  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU11  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU11_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU11   SH  78.9402   NaN  2019/05/27  00:05
1  F12 3F AHU11   SH  79.0623   NaN  2019/05/27  00:10
2  F12 3F AHU11   SH  79.1437   NaN  2019/05/27  00:15
3  F12 3F AHU11   SH  79.2160   NaN  2019/05/27  00:20
4  F12 3F AHU11   SH  79.3245   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU11_SH
0  2019/05/27  00:05   78.9402
1  2019/05/27  00:10   79.0623
2  2019/05/27  00:15   79.1437
3  2019/05/27  00:20   79.2160
4  2019/05/27  00:25   79.3245
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU11   ST  23.9059   NaN  2019/05/27  00:05
1  F12 3F AHU11   ST  23.9194   NaN  2019/05/27  00:10
2  F12 3F AHU11   ST  23.9013   NaN  2019/05/27  00:15
3  F12 3F AHU11   ST  23.8720   NaN  2019/05/27  00:20
4  F12 3F AHU11   ST  23.8810   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU11_ST
0  2019/05/27  00:05   23.9059
1  2019/05/27  00:10   23.9194
2  2019/05/27  00:15   23.9013
3  2019/05/27  00:20   23.8720
4  2019/05/27  00:25   23.8810
         Date   Time  AHU11_SH  AHU11_ST
0  2019/05/27  00:05   78.9402   23.9059
1  2019/05/27  00:10   79.0623   23.9194
2  2019/05/27  00:15   79.1437   23.9013
3  2019/05/27  00:20   79.2160   23.8720
4  2019/05/27  00:25   79.3245   23.8810
         Date   Time  AHU11_Status  AHU11_SH  AHU11_ST
0  2019/05/27  00:05             0   78.9402   23.9059
1  2019/05/27  00:10             0   79.0623   23.9194
2  2019/05/27  00:15             0   79.1437   23.9013
3  2019/05/27  00:20             0   79.2160   23.8720
4  2019/05/27  00:25             0   79.3245   23.8810

AHU12

In [16]:
# temp = df[(df['Name']=="F12 3F AHU12")].reset_index(drop=True)
target_string = "AHU12"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU12_status['AHU12_Status'] = temp_AHU12_status['Value']
temp_AHU12_status = temp_AHU12_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_status.head())



temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU12_SH['AHU12_SH'] = temp_AHU12_SH['Value']
temp_AHU12_SH = temp_AHU12_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU12_ST['AHU12_ST'] = temp_AHU12_ST['Value']
temp_AHU12_ST = temp_AHU12_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_ST.head())

temp_AHU12SHST = pd.merge(temp_AHU12_SH,temp_AHU12_ST)
print(temp_AHU12SHST.head())

temp_AHU12 = pd.merge(temp_AHU12_status,temp_AHU12SHST)
print(temp_AHU12.head())

target_string_temp = F12 3F AHU12
           Name       Type  Value  Unit        Date   Time
0  F12 3F AHU12  FanStatus      0   NaN  2019/05/27  00:05
1  F12 3F AHU12  FanStatus      0   NaN  2019/05/27  00:10
2  F12 3F AHU12  FanStatus      0   NaN  2019/05/27  00:15
3  F12 3F AHU12  FanStatus      0   NaN  2019/05/27  00:20
4  F12 3F AHU12  FanStatus      0   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU12_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU12   SH  76.5123   NaN  2019/05/27  00:05
1  F12 3F AHU12   SH  76.6525   NaN  2019/05/27  00:10
2  F12 3F AHU12   SH  76.6208   NaN  2019/05/27  00:15
3  F12 3F AHU12   SH  76.8695   NaN  2019/05/27  00:20
4  F12 3F AHU12   SH  76.7881   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU12_SH
0  2019/05/27  00:05   76.5123
1  2019/05/27  00:10   76.6525
2  2019/05/27  00:15   76.6208
3  2019/05/27  00:20   76.8695
4  2019/05/27  00:25   76.7881
           Name Type    Value  Unit        Date   Time
0  F12 3F AHU12   ST  23.2706   NaN  2019/05/27  00:05
1  F12 3F AHU12   ST  23.2932   NaN  2019/05/27  00:10
2  F12 3F AHU12   ST  23.2684   NaN  2019/05/27  00:15
3  F12 3F AHU12   ST  23.3159   NaN  2019/05/27  00:20
4  F12 3F AHU12   ST  23.2345   NaN  2019/05/27  00:25
(1505, 6)
         Date   Time  AHU12_ST
0  2019/05/27  00:05   23.2706
1  2019/05/27  00:10   23.2932
2  2019/05/27  00:15   23.2684
3  2019/05/27  00:20   23.3159
4  2019/05/27  00:25   23.2345
         Date   Time  AHU12_SH  AHU12_ST
0  2019/05/27  00:05   76.5123   23.2706
1  2019/05/27  00:10   76.6525   23.2932
2  2019/05/27  00:15   76.6208   23.2684
3  2019/05/27  00:20   76.8695   23.3159
4  2019/05/27  00:25   76.7881   23.2345
         Date   Time  AHU12_Status  AHU12_SH  AHU12_ST
0  2019/05/27  00:05             0   76.5123   23.2706
1  2019/05/27  00:10             0   76.6525   23.2932
2  2019/05/27  00:15             0   76.6208   23.2684
3  2019/05/27  00:20             0   76.8695   23.3159
4  2019/05/27  00:25             0   76.7881   23.2345

Merge all

In [17]:
temp_AHU_ALL = pd.merge(temp_AHU01,temp_AHU02)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU03)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU04)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU05)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU06)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU07)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU08)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU09)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU10)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU11)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU12)
print(temp_AHU_ALL.head())
print(temp_AHU_ALL.shape)

         Date   Time  AHU01_Status  AHU01_SH  AHU01_ST  AHU02_Status  \
0  2019/05/27  00:05             1   88.8869   13.2675             1
1  2019/05/27  00:10             1   88.8778   13.2697             1
2  2019/05/27  00:15             1   88.8552   13.1544             1
3  2019/05/27  00:20             1   89.3480   13.1590             1
4  2019/05/27  00:25             1   88.9004   13.1477             1

   AHU02_SH  AHU02_ST  AHU03_Status  AHU03_SH    ...     AHU09_ST  \
0   87.4130   16.1995             0   62.1937    ...      24.4055
1   87.2186   15.8559             0   61.6466    ...      24.4371
2   87.1100   15.5936             0   61.4206    ...      24.3964
3   87.1869   15.4557             0   61.1357    ...      24.4190
4   87.2095   15.2658             0   60.8599    ...      24.4009

   AHU10_Status  AHU10_SH  AHU10_ST  AHU11_Status  AHU11_SH  AHU11_ST  \
0             0   77.7240   24.0438             0   78.9402   23.9059
1             0   77.7105   24.0347             0   79.0623   23.9194
2             0   77.8371   24.0415             0   79.1437   23.9013
3             0   77.8551   24.0664             0   79.2160   23.8720
4             0   77.9094   24.0347             0   79.3245   23.8810

   AHU12_Status  AHU12_SH  AHU12_ST
0             0   76.5123   23.2706
1             0   76.6525   23.2932
2             0   76.6208   23.2684
3             0   76.8695   23.3159
4             0   76.7881   23.2345

[5 rows x 38 columns]
(1500, 38)

In [18]:
df_FanStatus = pd.read_csv('RowData.csv')
df_Temperature = pd.read_csv('RowData(3).csv')
df_Humidity = pd.read_csv('RowData(4).csv')

sensor 1

In [19]:
target_string = sensor_1
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor1_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor1_Temperature['Sensor1_Temperature'] = temp_Sensor1_Temperature['Value']
target_string = sensor_1 + "_Temperature"
temp_Sensor1_Temperature[target_string] = temp_Sensor1_Temperature['Value']
temp_Sensor1_Temperature = temp_Sensor1_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor1_Temperature.head())


temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor1_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor1_Humidity['Sensor1_Humidity'] = temp_Sensor1_Humidity['Value']
target_string = sensor_1 + "_Humidity"
temp_Sensor1_Humidity[target_string] = temp_Sensor1_Humidity['Value']
temp_Sensor1_Humidity = temp_Sensor1_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor1_Humidity.head())

temp_Sensor1 = pd.merge(temp_Sensor1_Temperature,temp_Sensor1_Humidity)
print(temp_Sensor1.head())
print(temp_Sensor1.shape)

target_string_temp = F12-3F-C02
         Name         Type  Value  Unit        Date   Time
0  F12-3F-C02  Temperature   24.3   NaN  2019/05/27  00:05
1  F12-3F-C02  Temperature   24.3   NaN  2019/05/27  00:10
2  F12-3F-C02  Temperature   24.1   NaN  2019/05/27  00:15
3  F12-3F-C02  Temperature   24.1   NaN  2019/05/27  00:20
4  F12-3F-C02  Temperature   24.1   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  C02_Temperature
0  2019/05/27  00:05             24.3
1  2019/05/27  00:10             24.3
2  2019/05/27  00:15             24.1
3  2019/05/27  00:20             24.1
4  2019/05/27  00:25             24.1
         Name      Type  Value  Unit        Date   Time
0  F12-3F-C02  Humidity   57.3   NaN  2019/05/27  00:05
1  F12-3F-C02  Humidity   57.0   NaN  2019/05/27  00:10
2  F12-3F-C02  Humidity   56.8   NaN  2019/05/27  00:15
3  F12-3F-C02  Humidity   56.7   NaN  2019/05/27  00:20
4  F12-3F-C02  Humidity   56.7   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  C02_Humidity
0  2019/05/27  00:05          57.3
1  2019/05/27  00:10          57.0
2  2019/05/27  00:15          56.8
3  2019/05/27  00:20          56.7
4  2019/05/27  00:25          56.7
         Date   Time  C02_Temperature  C02_Humidity
0  2019/05/27  00:05             24.3          57.3
1  2019/05/27  00:10             24.3          57.0
2  2019/05/27  00:15             24.1          56.8
3  2019/05/27  00:20             24.1          56.7
4  2019/05/27  00:25             24.1          56.7
(1885, 4)

sensor_2

In [20]:
target_string = sensor_2
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor2_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor2_Temperature['Sensor2_Temperature'] = temp_Sensor2_Temperature['Value']
target_string = sensor_2 + "_Temperature"
temp_Sensor2_Temperature[target_string] = temp_Sensor2_Temperature['Value']
temp_Sensor2_Temperature = temp_Sensor2_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor2_Temperature.head())


temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor2_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor2_Humidity['Sensor2_Humidity'] = temp_Sensor2_Humidity['Value']
target_string = sensor_2 + "_Humidity"
temp_Sensor2_Humidity[target_string] = temp_Sensor2_Humidity['Value']
temp_Sensor2_Humidity = temp_Sensor2_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor2_Humidity.head())

temp_Sensor2 = pd.merge(temp_Sensor2_Temperature,temp_Sensor2_Humidity)
print(temp_Sensor2.head())
print(temp_Sensor2.shape)

target_string_temp = F12-3F-C19
         Name         Type  Value  Unit        Date   Time
0  F12-3F-C19  Temperature   24.3   NaN  2019/05/27  00:05
1  F12-3F-C19  Temperature   24.2   NaN  2019/05/27  00:10
2  F12-3F-C19  Temperature   24.1   NaN  2019/05/27  00:15
3  F12-3F-C19  Temperature   24.2   NaN  2019/05/27  00:20
4  F12-3F-C19  Temperature   24.2   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  C19_Temperature
0  2019/05/27  00:05             24.3
1  2019/05/27  00:10             24.2
2  2019/05/27  00:15             24.1
3  2019/05/27  00:20             24.2
4  2019/05/27  00:25             24.2
         Name      Type  Value  Unit        Date   Time
0  F12-3F-C19  Humidity   72.7   NaN  2019/05/27  00:05
1  F12-3F-C19  Humidity   72.6   NaN  2019/05/27  00:10
2  F12-3F-C19  Humidity   72.5   NaN  2019/05/27  00:15
3  F12-3F-C19  Humidity   72.3   NaN  2019/05/27  00:20
4  F12-3F-C19  Humidity   72.3   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  C19_Humidity
0  2019/05/27  00:05          72.7
1  2019/05/27  00:10          72.6
2  2019/05/27  00:15          72.5
3  2019/05/27  00:20          72.3
4  2019/05/27  00:25          72.3
         Date   Time  C19_Temperature  C19_Humidity
0  2019/05/27  00:05             24.3          72.7
1  2019/05/27  00:10             24.2          72.6
2  2019/05/27  00:15             24.1          72.5
3  2019/05/27  00:20             24.2          72.3
4  2019/05/27  00:25             24.2          72.3
(1885, 4)

sensor_3

In [21]:
target_string = sensor_3
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor3_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor3_Temperature['Sensor3_Temperature'] = temp_Sensor3_Temperature['Value']
target_string = sensor_3 + "_Temperature"
temp_Sensor3_Temperature[target_string] = temp_Sensor3_Temperature['Value']
temp_Sensor3_Temperature = temp_Sensor3_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor3_Temperature.head())




temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor3_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor3_Humidity['Sensor3_Humidity'] = temp_Sensor3_Humidity['Value']
target_string = sensor_3 + "_Humidity"
temp_Sensor3_Humidity[target_string] = temp_Sensor3_Humidity['Value']
temp_Sensor3_Humidity = temp_Sensor3_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor3_Humidity.head())

temp_Sensor3 = pd.merge(temp_Sensor3_Temperature,temp_Sensor3_Humidity)
print(temp_Sensor3.head())
print(temp_Sensor3.shape)

target_string_temp = F12-3F-D08
         Name         Type  Value  Unit        Date   Time
0  F12-3F-D08  Temperature   24.9   NaN  2019/05/27  00:05
1  F12-3F-D08  Temperature   24.7   NaN  2019/05/27  00:10
2  F12-3F-D08  Temperature   24.7   NaN  2019/05/27  00:15
3  F12-3F-D08  Temperature   24.7   NaN  2019/05/27  00:20
4  F12-3F-D08  Temperature   24.7   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  D08_Temperature
0  2019/05/27  00:05             24.9
1  2019/05/27  00:10             24.7
2  2019/05/27  00:15             24.7
3  2019/05/27  00:20             24.7
4  2019/05/27  00:25             24.7
         Name      Type  Value  Unit        Date   Time
0  F12-3F-D08  Humidity   59.7   NaN  2019/05/27  00:05
1  F12-3F-D08  Humidity   59.5   NaN  2019/05/27  00:10
2  F12-3F-D08  Humidity   59.2   NaN  2019/05/27  00:15
3  F12-3F-D08  Humidity   58.7   NaN  2019/05/27  00:20
4  F12-3F-D08  Humidity   58.7   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  D08_Humidity
0  2019/05/27  00:05          59.7
1  2019/05/27  00:10          59.5
2  2019/05/27  00:15          59.2
3  2019/05/27  00:20          58.7
4  2019/05/27  00:25          58.7
         Date   Time  D08_Temperature  D08_Humidity
0  2019/05/27  00:05             24.9          59.7
1  2019/05/27  00:10             24.7          59.5
2  2019/05/27  00:15             24.7          59.2
3  2019/05/27  00:20             24.7          58.7
4  2019/05/27  00:25             24.7          58.7
(1885, 4)

sensor_4

In [22]:
target_string = sensor_4
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor4_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor4_Temperature['Sensor4_Temperature'] = temp_Sensor4_Temperature['Value']
target_string = sensor_4 + "_Temperature"
temp_Sensor4_Temperature[target_string] = temp_Sensor4_Temperature['Value']
temp_Sensor4_Temperature = temp_Sensor4_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor4_Temperature.head())




temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor4_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor4_Humidity['Sensor4_Humidity'] = temp_Sensor4_Humidity['Value']
target_string = sensor_4 + "_Humidity"
temp_Sensor4_Humidity[target_string] = temp_Sensor4_Humidity['Value']
temp_Sensor4_Humidity = temp_Sensor4_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor4_Humidity.head())

temp_Sensor4 = pd.merge(temp_Sensor4_Temperature,temp_Sensor4_Humidity)
print(temp_Sensor4.head())
print(temp_Sensor4.shape)

target_string_temp = F12-3F-D14
         Name         Type  Value  Unit        Date   Time
0  F12-3F-D14  Temperature   25.8   NaN  2019/05/27  00:05
1  F12-3F-D14  Temperature   25.8   NaN  2019/05/27  00:10
2  F12-3F-D14  Temperature   25.7   NaN  2019/05/27  00:15
3  F12-3F-D14  Temperature   25.6   NaN  2019/05/27  00:20
4  F12-3F-D14  Temperature   25.6   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  D14_Temperature
0  2019/05/27  00:05             25.8
1  2019/05/27  00:10             25.8
2  2019/05/27  00:15             25.7
3  2019/05/27  00:20             25.6
4  2019/05/27  00:25             25.6
         Name      Type  Value  Unit        Date   Time
0  F12-3F-D14  Humidity   67.7   NaN  2019/05/27  00:05
1  F12-3F-D14  Humidity   67.7   NaN  2019/05/27  00:10
2  F12-3F-D14  Humidity   67.6   NaN  2019/05/27  00:15
3  F12-3F-D14  Humidity   67.5   NaN  2019/05/27  00:20
4  F12-3F-D14  Humidity   67.2   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  D14_Humidity
0  2019/05/27  00:05          67.7
1  2019/05/27  00:10          67.7
2  2019/05/27  00:15          67.6
3  2019/05/27  00:20          67.5
4  2019/05/27  00:25          67.2
         Date   Time  D14_Temperature  D14_Humidity
0  2019/05/27  00:05             25.8          67.7
1  2019/05/27  00:10             25.8          67.7
2  2019/05/27  00:15             25.7          67.6
3  2019/05/27  00:20             25.6          67.5
4  2019/05/27  00:25             25.6          67.2
(1885, 4)

sensor_5

In [23]:
target_string = sensor_5
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor5_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor5_Temperature['Sensor5_Temperature'] = temp_Sensor5_Temperature['Value']
target_string = sensor_5 + "_Temperature"
temp_Sensor5_Temperature[target_string] = temp_Sensor5_Temperature['Value']
temp_Sensor5_Temperature = temp_Sensor5_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor5_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor5_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor5_Humidity['Sensor5_Humidity'] = temp_Sensor5_Humidity['Value']
target_string = sensor_5 + "_Humidity"
temp_Sensor5_Humidity[target_string] = temp_Sensor5_Humidity['Value']
temp_Sensor5_Humidity = temp_Sensor5_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor5_Humidity.head())

temp_Sensor5 = pd.merge(temp_Sensor5_Temperature,temp_Sensor5_Humidity)
print(temp_Sensor5.head())
print(temp_Sensor5.shape)

target_string_temp = F12-3F-E03
         Name         Type  Value  Unit        Date   Time
0  F12-3F-E03  Temperature   21.4   NaN  2019/05/27  00:05
1  F12-3F-E03  Temperature   21.3   NaN  2019/05/27  00:10
2  F12-3F-E03  Temperature   21.3   NaN  2019/05/27  00:15
3  F12-3F-E03  Temperature   21.3   NaN  2019/05/27  00:20
4  F12-3F-E03  Temperature   21.3   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  E03_Temperature
0  2019/05/27  00:05             21.4
1  2019/05/27  00:10             21.3
2  2019/05/27  00:15             21.3
3  2019/05/27  00:20             21.3
4  2019/05/27  00:25             21.3
         Name      Type  Value  Unit        Date   Time
0  F12-3F-E03  Humidity   65.3   NaN  2019/05/27  00:05
1  F12-3F-E03  Humidity   65.3   NaN  2019/05/27  00:10
2  F12-3F-E03  Humidity   65.0   NaN  2019/05/27  00:15
3  F12-3F-E03  Humidity   65.0   NaN  2019/05/27  00:20
4  F12-3F-E03  Humidity   64.8   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  E03_Humidity
0  2019/05/27  00:05          65.3
1  2019/05/27  00:10          65.3
2  2019/05/27  00:15          65.0
3  2019/05/27  00:20          65.0
4  2019/05/27  00:25          64.8
         Date   Time  E03_Temperature  E03_Humidity
0  2019/05/27  00:05             21.4          65.3
1  2019/05/27  00:10             21.3          65.3
2  2019/05/27  00:15             21.3          65.0
3  2019/05/27  00:20             21.3          65.0
4  2019/05/27  00:25             21.3          64.8
(1885, 4)

sensor_6

In [24]:
target_string = sensor_6
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor6_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor6_Temperature['Sensor6_Temperature'] = temp_Sensor6_Temperature['Value']
target_string = sensor_6 + "_Temperature"
temp_Sensor6_Temperature[target_string] = temp_Sensor6_Temperature['Value']
temp_Sensor6_Temperature = temp_Sensor6_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor6_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor6_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor6_Humidity['Sensor6_Humidity'] = temp_Sensor6_Humidity['Value']
target_string = sensor_6 + "_Humidity"
temp_Sensor6_Humidity[target_string] = temp_Sensor6_Humidity['Value']
temp_Sensor6_Humidity = temp_Sensor6_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor6_Humidity.head())

temp_Sensor6 = pd.merge(temp_Sensor6_Temperature,temp_Sensor6_Humidity)
print(temp_Sensor6.head())
print(temp_Sensor6.shape)

target_string_temp = F12-3F-E19
         Name         Type  Value  Unit        Date   Time
0  F12-3F-E19  Temperature   23.5   NaN  2019/05/27  00:05
1  F12-3F-E19  Temperature   23.5   NaN  2019/05/27  00:10
2  F12-3F-E19  Temperature   23.5   NaN  2019/05/27  00:15
3  F12-3F-E19  Temperature   23.5   NaN  2019/05/27  00:20
4  F12-3F-E19  Temperature   23.5   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  E19_Temperature
0  2019/05/27  00:05             23.5
1  2019/05/27  00:10             23.5
2  2019/05/27  00:15             23.5
3  2019/05/27  00:20             23.5
4  2019/05/27  00:25             23.5
         Name      Type  Value  Unit        Date   Time
0  F12-3F-E19  Humidity   69.4   NaN  2019/05/27  00:05
1  F12-3F-E19  Humidity   69.4   NaN  2019/05/27  00:10
2  F12-3F-E19  Humidity   69.1   NaN  2019/05/27  00:15
3  F12-3F-E19  Humidity   69.1   NaN  2019/05/27  00:20
4  F12-3F-E19  Humidity   69.0   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  E19_Humidity
0  2019/05/27  00:05          69.4
1  2019/05/27  00:10          69.4
2  2019/05/27  00:15          69.1
3  2019/05/27  00:20          69.1
4  2019/05/27  00:25          69.0
         Date   Time  E19_Temperature  E19_Humidity
0  2019/05/27  00:05             23.5          69.4
1  2019/05/27  00:10             23.5          69.4
2  2019/05/27  00:15             23.5          69.1
3  2019/05/27  00:20             23.5          69.1
4  2019/05/27  00:25             23.5          69.0
(1885, 4)

sensor_7

In [25]:
target_string = sensor_7
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor7_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor7_Temperature['Sensor7_Temperature'] = temp_Sensor7_Temperature['Value']
target_string = sensor_7 + "_Temperature"
temp_Sensor7_Temperature[target_string] = temp_Sensor7_Temperature['Value']
temp_Sensor7_Temperature = temp_Sensor7_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor7_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor7_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor7_Humidity['Sensor7_Humidity'] = temp_Sensor7_Humidity['Value']
target_string = sensor_7 + "_Humidity"
temp_Sensor7_Humidity[target_string] = temp_Sensor7_Humidity['Value']
temp_Sensor7_Humidity = temp_Sensor7_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor7_Humidity.head())

temp_Sensor7 = pd.merge(temp_Sensor7_Temperature,temp_Sensor7_Humidity)
print(temp_Sensor7.head())
print(temp_Sensor7.shape)

target_string_temp = F12-3F-F02
         Name         Type  Value  Unit        Date   Time
0  F12-3F-F02  Temperature   22.8   NaN  2019/05/27  00:05
1  F12-3F-F02  Temperature   22.8   NaN  2019/05/27  00:10
2  F12-3F-F02  Temperature   22.8   NaN  2019/05/27  00:15
3  F12-3F-F02  Temperature   22.6   NaN  2019/05/27  00:20
4  F12-3F-F02  Temperature   22.6   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F02_Temperature
0  2019/05/27  00:05             22.8
1  2019/05/27  00:10             22.8
2  2019/05/27  00:15             22.8
3  2019/05/27  00:20             22.6
4  2019/05/27  00:25             22.6
         Name      Type  Value  Unit        Date   Time
0  F12-3F-F02  Humidity   64.1   NaN  2019/05/27  00:05
1  F12-3F-F02  Humidity   63.8   NaN  2019/05/27  00:10
2  F12-3F-F02  Humidity   63.7   NaN  2019/05/27  00:15
3  F12-3F-F02  Humidity   63.3   NaN  2019/05/27  00:20
4  F12-3F-F02  Humidity   63.2   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F02_Humidity
0  2019/05/27  00:05          64.1
1  2019/05/27  00:10          63.8
2  2019/05/27  00:15          63.7
3  2019/05/27  00:20          63.3
4  2019/05/27  00:25          63.2
         Date   Time  F02_Temperature  F02_Humidity
0  2019/05/27  00:05             22.8          64.1
1  2019/05/27  00:10             22.8          63.8
2  2019/05/27  00:15             22.8          63.7
3  2019/05/27  00:20             22.6          63.3
4  2019/05/27  00:25             22.6          63.2
(1885, 4)

sensor_8

In [26]:
target_string = sensor_8
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor8_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor8_Temperature['Sensor8_Temperature'] = temp_Sensor8_Temperature['Value']
target_string = sensor_8 + "_Temperature"
temp_Sensor8_Temperature[target_string] = temp_Sensor8_Temperature['Value']
temp_Sensor8_Temperature = temp_Sensor8_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor8_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor8_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor8_Humidity['Sensor8_Humidity'] = temp_Sensor8_Humidity['Value']
target_string = sensor_8 + "_Humidity"
temp_Sensor8_Humidity[target_string] = temp_Sensor8_Humidity['Value']
temp_Sensor8_Humidity = temp_Sensor8_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor8_Humidity.head())

temp_Sensor8 = pd.merge(temp_Sensor8_Temperature,temp_Sensor8_Humidity)
print(temp_Sensor8.head())
print(temp_Sensor8.shape)

target_string_temp = F12-3F-F08
         Name         Type  Value  Unit        Date   Time
0  F12-3F-F08  Temperature   21.3   NaN  2019/05/27  00:05
1  F12-3F-F08  Temperature   21.3   NaN  2019/05/27  00:10
2  F12-3F-F08  Temperature   21.2   NaN  2019/05/27  00:15
3  F12-3F-F08  Temperature   21.1   NaN  2019/05/27  00:20
4  F12-3F-F08  Temperature   21.1   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F08_Temperature
0  2019/05/27  00:05             21.3
1  2019/05/27  00:10             21.3
2  2019/05/27  00:15             21.2
3  2019/05/27  00:20             21.1
4  2019/05/27  00:25             21.1
         Name      Type  Value  Unit        Date   Time
0  F12-3F-F08  Humidity   66.5   NaN  2019/05/27  00:05
1  F12-3F-F08  Humidity   65.9   NaN  2019/05/27  00:10
2  F12-3F-F08  Humidity   65.5   NaN  2019/05/27  00:15
3  F12-3F-F08  Humidity   65.5   NaN  2019/05/27  00:20
4  F12-3F-F08  Humidity   65.4   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F08_Humidity
0  2019/05/27  00:05          66.5
1  2019/05/27  00:10          65.9
2  2019/05/27  00:15          65.5
3  2019/05/27  00:20          65.5
4  2019/05/27  00:25          65.4
         Date   Time  F08_Temperature  F08_Humidity
0  2019/05/27  00:05             21.3          66.5
1  2019/05/27  00:10             21.3          65.9
2  2019/05/27  00:15             21.2          65.5
3  2019/05/27  00:20             21.1          65.5
4  2019/05/27  00:25             21.1          65.4
(1885, 4)

sensor_9

In [27]:
target_string = sensor_9
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor9_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor9_Temperature['Sensor9_Temperature'] = temp_Sensor9_Temperature['Value']
target_string = sensor_9 + "_Temperature"
temp_Sensor9_Temperature[target_string] = temp_Sensor9_Temperature['Value']
temp_Sensor9_Temperature = temp_Sensor9_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor9_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor9_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor9_Humidity['Sensor9_Humidity'] = temp_Sensor9_Humidity['Value']
target_string = sensor_9 + "_Humidity"
temp_Sensor9_Humidity[target_string] = temp_Sensor9_Humidity['Value']
temp_Sensor9_Humidity = temp_Sensor9_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor9_Humidity.head())

temp_Sensor9 = pd.merge(temp_Sensor9_Temperature,temp_Sensor9_Humidity)
print(temp_Sensor9.head())
print(temp_Sensor9.shape)

target_string_temp = F12-3F-F14
         Name         Type  Value  Unit        Date   Time
0  F12-3F-F14  Temperature   24.1   NaN  2019/05/27  00:05
1  F12-3F-F14  Temperature   24.1   NaN  2019/05/27  00:10
2  F12-3F-F14  Temperature   24.1   NaN  2019/05/27  00:15
3  F12-3F-F14  Temperature   24.1   NaN  2019/05/27  00:20
4  F12-3F-F14  Temperature   24.1   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F14_Temperature
0  2019/05/27  00:05             24.1
1  2019/05/27  00:10             24.1
2  2019/05/27  00:15             24.1
3  2019/05/27  00:20             24.1
4  2019/05/27  00:25             24.1
         Name      Type  Value  Unit        Date   Time
0  F12-3F-F14  Humidity   67.2   NaN  2019/05/27  00:05
1  F12-3F-F14  Humidity   67.0   NaN  2019/05/27  00:10
2  F12-3F-F14  Humidity   67.0   NaN  2019/05/27  00:15
3  F12-3F-F14  Humidity   66.9   NaN  2019/05/27  00:20
4  F12-3F-F14  Humidity   67.2   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F14_Humidity
0  2019/05/27  00:05          67.2
1  2019/05/27  00:10          67.0
2  2019/05/27  00:15          67.0
3  2019/05/27  00:20          66.9
4  2019/05/27  00:25          67.2
         Date   Time  F14_Temperature  F14_Humidity
0  2019/05/27  00:05             24.1          67.2
1  2019/05/27  00:10             24.1          67.0
2  2019/05/27  00:15             24.1          67.0
3  2019/05/27  00:20             24.1          66.9
4  2019/05/27  00:25             24.1          67.2
(1885, 4)

sensor_10

In [28]:
target_string = sensor_10
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor10_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor10_Temperature['Sensor10_Temperature'] = temp_Sensor10_Temperature['Value']
target_string = sensor_10 + "_Temperature"
temp_Sensor10_Temperature[target_string] = temp_Sensor10_Temperature['Value']
temp_Sensor10_Temperature = temp_Sensor10_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor10_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor10_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor10_Humidity['Sensor10_Humidity'] = temp_Sensor10_Humidity['Value']
target_string = sensor_10 + "_Humidity"
temp_Sensor10_Humidity[target_string] = temp_Sensor10_Humidity['Value']
temp_Sensor10_Humidity = temp_Sensor10_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor10_Humidity.head())

temp_Sensor10 = pd.merge(temp_Sensor10_Temperature,temp_Sensor10_Humidity)
print(temp_Sensor10.head())
print(temp_Sensor10.shape)

target_string_temp = F12-3F-F19
         Name         Type  Value  Unit        Date   Time
0  F12-3F-F19  Temperature   24.5   NaN  2019/05/27  00:05
1  F12-3F-F19  Temperature   24.5   NaN  2019/05/27  00:10
2  F12-3F-F19  Temperature   24.5   NaN  2019/05/27  00:15
3  F12-3F-F19  Temperature   24.5   NaN  2019/05/27  00:20
4  F12-3F-F19  Temperature   24.5   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F19_Temperature
0  2019/05/27  00:05             24.5
1  2019/05/27  00:10             24.5
2  2019/05/27  00:15             24.5
3  2019/05/27  00:20             24.5
4  2019/05/27  00:25             24.5
         Name      Type  Value  Unit        Date   Time
0  F12-3F-F19  Humidity   69.0   NaN  2019/05/27  00:05
1  F12-3F-F19  Humidity   68.8   NaN  2019/05/27  00:10
2  F12-3F-F19  Humidity   68.7   NaN  2019/05/27  00:15
3  F12-3F-F19  Humidity   68.5   NaN  2019/05/27  00:20
4  F12-3F-F19  Humidity   68.4   NaN  2019/05/27  00:25
(1885, 6)
         Date   Time  F19_Humidity
0  2019/05/27  00:05          69.0
1  2019/05/27  00:10          68.8
2  2019/05/27  00:15          68.7
3  2019/05/27  00:20          68.5
4  2019/05/27  00:25          68.4
         Date   Time  F19_Temperature  F19_Humidity
0  2019/05/27  00:05             24.5          69.0
1  2019/05/27  00:10             24.5          68.8
2  2019/05/27  00:15             24.5          68.7
3  2019/05/27  00:20             24.5          68.5
4  2019/05/27  00:25             24.5          68.4
(1885, 4)

Merge All

In [29]:
# temp_AHU_ALL = pd.merge(temp_Sensor1,temp_Sensor2)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor1)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor2)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor3)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor4)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor5)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor6)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor7)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor8)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor9)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor10)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU09)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU10)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU11)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU12)
temp_AHU_ALL.head()

,Date,Time,AHU01_Status,AHU01_SH,AHU01_ST,AHU02_Status,AHU02_SH,AHU02_ST,AHU03_Status,AHU03_SH,...,E19_Temperature,E19_Humidity,F02_Temperature,F02_Humidity,F08_Temperature,F08_Humidity,F14_Temperature,F14_Humidity,F19_Temperature,F19_Humidity
0,2019/05/27,00:05,1,88.8869,13.2675,1,87.4130,16.1995,0,62.1937,...,23.5,69.4,22.8,64.1,21.3,66.5,24.1,67.2,24.5,69.0
1,2019/05/27,00:10,1,88.8778,13.2697,1,87.2186,15.8559,0,61.6466,...,23.5,69.4,22.8,63.8,21.3,65.9,24.1,67.0,24.5,68.8
2,2019/05/27,00:15,1,88.8552,13.1544,1,87.1100,15.5936,0,61.4206,...,23.5,69.1,22.8,63.7,21.2,65.5,24.1,67.0,24.5,68.7
3,2019/05/27,00:20,1,89.3480,13.1590,1,87.1869,15.4557,0,61.1357,...,23.5,69.1,22.6,63.3,21.1,65.5,24.1,66.9,24.5,68.5
4,2019/05/27,00:25,1,88.9004,13.1477,1,87.2095,15.2658,0,60.8599,...,23.5,69.0,22.6,63.2,21.1,65.4,24.1,67.2,24.5,68.4

In [30]:
temp_AHU_ALL.to_csv('AHU.csv',index=False)