In [1]:
import pandas as pd

In [3]:
df_FanStatus = pd.read_csv('RowData.csv')
df_ST = pd.read_csv('RowData (1).csv')
df_SH = pd.read_csv('RowData (2).csv')
df_Temperature = pd.read_csv('RowData (3).csv')
df_Humidity = pd.read_csv('RowData (4).csv')

In [4]:
target = "F12 2F "
global_sensor = "F12-2F-"

In [5]:
sensor_1 = "C02"
sensor_2 = "C19"
sensor_3 = "D08"
sensor_4 = "D14"
sensor_5 = "E03"
sensor_6 = "E19"
sensor_7 = "F02"
sensor_8 = "F08"
# sensor_9 = "F14"
# sensor_10 = "F19"
sensor_9 = "CLEANROOM01"
sensor_10 = "CLEANROOM02"
sensor_11 = "CLEANROOM03"
sensor_12 = "CLEANROOM04"

AHU01

In [6]:
target_string = "AHU01"
# temp = df[(df['Name']=="F12 3F AHU01")].reset_index(drop=True)
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU01_status['AHU01_Status'] = temp_AHU01_status['Value']
temp_AHU01_status = temp_AHU01_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_status.head())
print(temp_AHU01_status.shape)


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU01_SH['AHU01_SH'] = temp_AHU01_SH['Value']
temp_AHU01_SH = temp_AHU01_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_SH.head())
print(temp_AHU01_SH.shape)


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU01_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU01_ST['AHU01_ST'] = temp_AHU01_ST['Value']
temp_AHU01_ST = temp_AHU01_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU01_ST.head())
print(temp_AHU01_ST.shape)

temp_AHU01SHST = pd.merge(temp_AHU01_SH,temp_AHU01_ST)
print(temp_AHU01SHST.head())
print(temp_AHU01SHST.shape)

temp_AHU01 = pd.merge(temp_AHU01_status,temp_AHU01SHST)
print(temp_AHU01.head())
print(temp_AHU01.shape)

target_string_temp = F12 2F AHU01
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU01  FanStatus      1   NaN  2019/05/27  14:25
1  F12 2F AHU01  FanStatus      1   NaN  2019/05/27  14:30
2  F12 2F AHU01  FanStatus      1   NaN  2019/05/27  14:35
3  F12 2F AHU01  FanStatus      1   NaN  2019/05/27  14:40
4  F12 2F AHU01  FanStatus      1   NaN  2019/05/27  14:45
(1382, 6)
         Date   Time  AHU01_Status
0  2019/05/27  14:25             1
1  2019/05/27  14:30             1
2  2019/05/27  14:35             1
3  2019/05/27  14:40             1
4  2019/05/27  14:45             1
(1382, 3)
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU01   SH  86.6444   NaN  2019/05/27  14:25
1  F12 2F AHU01   SH  86.5539   NaN  2019/05/27  14:30
2  F12 2F AHU01   SH  86.3776   NaN  2019/05/27  14:35
3  F12 2F AHU01   SH  86.1877   NaN  2019/05/27  14:40
4  F12 2F AHU01   SH  86.5268   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU01_SH
0  2019/05/27  14:25   86.6444
1  2019/05/27  14:30   86.5539
2  2019/05/27  14:35   86.3776
3  2019/05/27  14:40   86.1877
4  2019/05/27  14:45   86.5268
(1376, 3)
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU01   ST  15.2794   NaN  2019/05/27  14:25
1  F12 2F AHU01   ST  15.2478   NaN  2019/05/27  14:30
2  F12 2F AHU01   ST  15.2591   NaN  2019/05/27  14:35
3  F12 2F AHU01   ST  15.1912   NaN  2019/05/27  14:40
4  F12 2F AHU01   ST  15.2410   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU01_ST
0  2019/05/27  14:25   15.2794
1  2019/05/27  14:30   15.2478
2  2019/05/27  14:35   15.2591
3  2019/05/27  14:40   15.1912
4  2019/05/27  14:45   15.2410
(1377, 3)
         Date   Time  AHU01_SH  AHU01_ST
0  2019/05/27  14:25   86.6444   15.2794
1  2019/05/27  14:30   86.5539   15.2478
2  2019/05/27  14:35   86.3776   15.2591
3  2019/05/27  14:40   86.1877   15.1912
4  2019/05/27  14:45   86.5268   15.2410
(1376, 4)
         Date   Time  AHU01_Status  AHU01_SH  AHU01_ST
0  2019/05/27  14:25             1   86.6444   15.2794
1  2019/05/27  14:30             1   86.5539   15.2478
2  2019/05/27  14:35             1   86.3776   15.2591
3  2019/05/27  14:40             1   86.1877   15.1912
4  2019/05/27  14:45             1   86.5268   15.2410
(1376, 5)

AHU02

In [7]:
# temp = df[(df['Name']=="F12 3F AHU02")].reset_index(drop=True)
target_string = "AHU02"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU02_status['AHU02_Status'] = temp_AHU02_status['Value']
temp_AHU02_status = temp_AHU02_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU02_SH['AHU02_SH'] = temp_AHU02_SH['Value']
temp_AHU02_SH = temp_AHU02_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU02_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU02_ST['AHU02_ST'] = temp_AHU02_ST['Value']
temp_AHU02_ST = temp_AHU02_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU02_ST.head())
print(temp_AHU02_ST.shape)

temp_AHU02SHST = pd.merge(temp_AHU02_SH,temp_AHU02_ST)
print(temp_AHU02SHST.head())
print(temp_AHU02SHST.shape)

temp_AHU02 = pd.merge(temp_AHU02_status,temp_AHU02SHST)
print(temp_AHU02.head())
print(temp_AHU02.shape)

target_string_temp = F12 2F AHU02
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU02  FanStatus      0   NaN  2019/05/27  14:25
1  F12 2F AHU02  FanStatus      0   NaN  2019/05/27  14:30
2  F12 2F AHU02  FanStatus      0   NaN  2019/05/27  14:35
3  F12 2F AHU02  FanStatus      0   NaN  2019/05/27  14:40
4  F12 2F AHU02  FanStatus      0   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU02_Status
0  2019/05/27  14:25             0
1  2019/05/27  14:30             0
2  2019/05/27  14:35             0
3  2019/05/27  14:40             0
4  2019/05/27  14:45             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU02   SH  72.3528   NaN  2019/05/27  11:20
1  F12 2F AHU02   SH  70.1827   NaN  2019/05/27  14:25
2  F12 2F AHU02   SH  70.0606   NaN  2019/05/27  14:30
3  F12 2F AHU02   SH  69.8436   NaN  2019/05/27  14:35
4  F12 2F AHU02   SH  69.4909   NaN  2019/05/27  14:40
(1377, 6)
         Date   Time  AHU02_SH
0  2019/05/27  11:20   72.3528
1  2019/05/27  14:25   70.1827
2  2019/05/27  14:30   70.0606
3  2019/05/27  14:35   69.8436
4  2019/05/27  14:40   69.4909
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU02   ST  22.9632   NaN  2019/05/27  14:25
1  F12 2F AHU02   ST  22.9315   NaN  2019/05/27  14:30
2  F12 2F AHU02   ST  22.8298   NaN  2019/05/27  14:35
3  F12 2F AHU02   ST  22.8502   NaN  2019/05/27  14:40
4  F12 2F AHU02   ST  22.7394   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU02_ST
0  2019/05/27  14:25   22.9632
1  2019/05/27  14:30   22.9315
2  2019/05/27  14:35   22.8298
3  2019/05/27  14:40   22.8502
4  2019/05/27  14:45   22.7394
(1376, 3)
         Date   Time  AHU02_SH  AHU02_ST
0  2019/05/27  14:25   70.1827   22.9632
1  2019/05/27  14:30   70.0606   22.9315
2  2019/05/27  14:35   69.8436   22.8298
3  2019/05/27  14:40   69.4909   22.8502
4  2019/05/27  14:45   69.4502   22.7394
(1376, 4)
         Date   Time  AHU02_Status  AHU02_SH  AHU02_ST
0  2019/05/27  14:25             0   70.1827   22.9632
1  2019/05/27  14:30             0   70.0606   22.9315
2  2019/05/27  14:35             0   69.8436   22.8298
3  2019/05/27  14:40             0   69.4909   22.8502
4  2019/05/27  14:45             0   69.4502   22.7394
(1376, 5)

AHU03

In [8]:
# temp = df[(df['Name']=="F12 3F AHU03")].reset_index(drop=True)
target_string = "AHU03"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU03_status['AHU03_Status'] = temp_AHU03_status['Value']
temp_AHU03_status = temp_AHU03_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU03_SH['AHU03_SH'] = temp_AHU03_SH['Value']
temp_AHU03_SH = temp_AHU03_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU03_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU03_ST['AHU03_ST'] = temp_AHU03_ST['Value']
temp_AHU03_ST = temp_AHU03_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU03_ST.head())

temp_AHU03SHST = pd.merge(temp_AHU03_SH,temp_AHU03_ST)
print(temp_AHU03SHST.head())
print(temp_AHU03SHST.shape)

temp_AHU03 = pd.merge(temp_AHU03_status,temp_AHU03SHST)
print(temp_AHU03.head())
print(temp_AHU03.shape)

target_string_temp = F12 2F AHU03
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU03  FanStatus      1   NaN  2019/05/27  09:45
1  F12 2F AHU03  FanStatus      1   NaN  2019/05/27  14:25
2  F12 2F AHU03  FanStatus      1   NaN  2019/05/27  14:30
3  F12 2F AHU03  FanStatus      1   NaN  2019/05/27  14:35
4  F12 2F AHU03  FanStatus      1   NaN  2019/05/27  14:40
(1377, 6)
         Date   Time  AHU03_Status
0  2019/05/27  09:45             1
1  2019/05/27  14:25             1
2  2019/05/27  14:30             1
3  2019/05/27  14:35             1
4  2019/05/27  14:40             1
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU03   SH  82.9596   NaN  2019/05/27  14:25
1  F12 2F AHU03   SH  81.1827   NaN  2019/05/27  14:30
2  F12 2F AHU03   SH  80.9160   NaN  2019/05/27  14:35
3  F12 2F AHU03   SH  82.8872   NaN  2019/05/27  14:40
4  F12 2F AHU03   SH  78.8769   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU03_SH
0  2019/05/27  14:25   82.9596
1  2019/05/27  14:30   81.1827
2  2019/05/27  14:35   80.9160
3  2019/05/27  14:40   82.8872
4  2019/05/27  14:45   78.8769
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU03   ST  19.2694   NaN  2019/05/27  14:25
1  F12 2F AHU03   ST  20.4856   NaN  2019/05/27  14:30
2  F12 2F AHU03   ST  19.8029   NaN  2019/05/27  14:35
3  F12 2F AHU03   ST  19.5746   NaN  2019/05/27  14:40
4  F12 2F AHU03   ST  20.4924   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU03_ST
0  2019/05/27  14:25   19.2694
1  2019/05/27  14:30   20.4856
2  2019/05/27  14:35   19.8029
3  2019/05/27  14:40   19.5746
4  2019/05/27  14:45   20.4924
         Date   Time  AHU03_SH  AHU03_ST
0  2019/05/27  14:25   82.9596   19.2694
1  2019/05/27  14:30   81.1827   20.4856
2  2019/05/27  14:35   80.9160   19.8029
3  2019/05/27  14:40   82.8872   19.5746
4  2019/05/27  14:45   78.8769   20.4924
(1376, 4)
         Date   Time  AHU03_Status  AHU03_SH  AHU03_ST
0  2019/05/27  14:25             1   82.9596   19.2694
1  2019/05/27  14:30             1   81.1827   20.4856
2  2019/05/27  14:35             1   80.9160   19.8029
3  2019/05/27  14:40             1   82.8872   19.5746
4  2019/05/27  14:45             1   78.8769   20.4924
(1376, 5)

AHU04

In [9]:
# temp = df[(df['Name']=="F12 3F AHU04")].reset_index(drop=True)
target_string = "AHU04"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU04_status['AHU04_Status'] = temp_AHU04_status['Value']
temp_AHU04_status = temp_AHU04_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU04_SH['AHU04_SH'] = temp_AHU04_SH['Value']
temp_AHU04_SH = temp_AHU04_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU04_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU04_ST['AHU04_ST'] = temp_AHU04_ST['Value']
temp_AHU04_ST = temp_AHU04_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU04_ST.head())

temp_AHU04SHST = pd.merge(temp_AHU04_SH,temp_AHU04_ST)
print(temp_AHU04SHST.head())
print(temp_AHU04SHST.shape)

temp_AHU04 = pd.merge(temp_AHU04_status,temp_AHU04SHST)
print(temp_AHU04.head())
print(temp_AHU04.shape)

target_string_temp = F12 2F AHU04
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU04  FanStatus      1   NaN  2019/05/27  14:25
1  F12 2F AHU04  FanStatus      1   NaN  2019/05/27  14:30
2  F12 2F AHU04  FanStatus      1   NaN  2019/05/27  14:35
3  F12 2F AHU04  FanStatus      1   NaN  2019/05/27  14:40
4  F12 2F AHU04  FanStatus      1   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU04_Status
0  2019/05/27  14:25             1
1  2019/05/27  14:30             1
2  2019/05/27  14:35             1
3  2019/05/27  14:40             1
4  2019/05/27  14:45             1
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU04   SH  87.3225   NaN  2019/05/27  14:25
1  F12 2F AHU04   SH  87.0287   NaN  2019/05/27  14:30
2  F12 2F AHU04   SH  87.4672   NaN  2019/05/27  14:35
3  F12 2F AHU04   SH  87.0603   NaN  2019/05/27  14:40
4  F12 2F AHU04   SH  87.0468   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU04_SH
0  2019/05/27  14:25   87.3225
1  2019/05/27  14:30   87.0287
2  2019/05/27  14:35   87.4672
3  2019/05/27  14:40   87.0603
4  2019/05/27  14:45   87.0468
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU04   ST  18.0826   NaN  2019/05/27  14:25
1  F12 2F AHU04   ST  17.8384   NaN  2019/05/27  14:30
2  F12 2F AHU04   ST  17.9447   NaN  2019/05/27  14:35
3  F12 2F AHU04   ST  18.0351   NaN  2019/05/27  14:40
4  F12 2F AHU04   ST  17.9921   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU04_ST
0  2019/05/27  14:25   18.0826
1  2019/05/27  14:30   17.8384
2  2019/05/27  14:35   17.9447
3  2019/05/27  14:40   18.0351
4  2019/05/27  14:45   17.9921
         Date   Time  AHU04_SH  AHU04_ST
0  2019/05/27  14:25   87.3225   18.0826
1  2019/05/27  14:30   87.0287   17.8384
2  2019/05/27  14:35   87.4672   17.9447
3  2019/05/27  14:40   87.0603   18.0351
4  2019/05/27  14:45   87.0468   17.9921
(1376, 4)
         Date   Time  AHU04_Status  AHU04_SH  AHU04_ST
0  2019/05/27  14:25             1   87.3225   18.0826
1  2019/05/27  14:30             1   87.0287   17.8384
2  2019/05/27  14:35             1   87.4672   17.9447
3  2019/05/27  14:40             1   87.0603   18.0351
4  2019/05/27  14:45             1   87.0468   17.9921
(1376, 5)

AHU05

In [10]:
# temp = df[(df['Name']=="F12 3F AHU05")].reset_index(drop=True)
target_string = "AHU05"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU05_status['AHU05_Status'] = temp_AHU05_status['Value']
temp_AHU05_status = temp_AHU05_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU05_SH['AHU05_SH'] = temp_AHU05_SH['Value']
temp_AHU05_SH = temp_AHU05_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_SH.head())
print(temp_AHU05_SH.shape)


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU05_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU05_ST['AHU05_ST'] = temp_AHU05_ST['Value']
temp_AHU05_ST = temp_AHU05_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU05_ST.head())
print(temp_AHU05_ST.shape)

temp_AHU05SHST = pd.merge(temp_AHU05_SH,temp_AHU05_ST)
print(temp_AHU05SHST.head())
print(temp_AHU05SHST.shape)

temp_AHU05 = pd.merge(temp_AHU05_status,temp_AHU05SHST)
print(temp_AHU05.head())
print(temp_AHU05.shape)

target_string_temp = F12 2F AHU05
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU05  FanStatus      1   NaN  2019/05/27  14:25
1  F12 2F AHU05  FanStatus      1   NaN  2019/05/27  14:30
2  F12 2F AHU05  FanStatus      1   NaN  2019/05/27  14:35
3  F12 2F AHU05  FanStatus      1   NaN  2019/05/27  14:40
4  F12 2F AHU05  FanStatus      1   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU05_Status
0  2019/05/27  14:25             1
1  2019/05/27  14:30             1
2  2019/05/27  14:35             1
3  2019/05/27  14:40             1
4  2019/05/27  14:45             1
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU05   SH  80.8301   NaN  2019/05/27  14:25
1  F12 2F AHU05   SH  82.6205   NaN  2019/05/27  14:30
2  F12 2F AHU05   SH  83.2535   NaN  2019/05/27  14:35
3  F12 2F AHU05   SH  80.9476   NaN  2019/05/27  14:40
4  F12 2F AHU05   SH  79.4240   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU05_SH
0  2019/05/27  14:25   80.8301
1  2019/05/27  14:30   82.6205
2  2019/05/27  14:35   83.2535
3  2019/05/27  14:40   80.9476
4  2019/05/27  14:45   79.4240
(1376, 3)
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU05   ST  19.7848   NaN  2019/05/27  14:25
1  F12 2F AHU05   ST  19.5949   NaN  2019/05/27  14:30
2  F12 2F AHU05   ST  20.0900   NaN  2019/05/27  14:35
3  F12 2F AHU05   ST  20.5150   NaN  2019/05/27  14:40
4  F12 2F AHU05   ST  19.9634   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU05_ST
0  2019/05/27  14:25   19.7848
1  2019/05/27  14:30   19.5949
2  2019/05/27  14:35   20.0900
3  2019/05/27  14:40   20.5150
4  2019/05/27  14:45   19.9634
(1377, 3)
         Date   Time  AHU05_SH  AHU05_ST
0  2019/05/27  14:25   80.8301   19.7848
1  2019/05/27  14:30   82.6205   19.5949
2  2019/05/27  14:35   83.2535   20.0900
3  2019/05/27  14:40   80.9476   20.5150
4  2019/05/27  14:45   79.4240   19.9634
(1376, 4)
         Date   Time  AHU05_Status  AHU05_SH  AHU05_ST
0  2019/05/27  14:25             1   80.8301   19.7848
1  2019/05/27  14:30             1   82.6205   19.5949
2  2019/05/27  14:35             1   83.2535   20.0900
3  2019/05/27  14:40             1   80.9476   20.5150
4  2019/05/27  14:45             1   79.4240   19.9634
(1376, 5)

AHU06

In [11]:
# temp = df[(df['Name']=="F12 3F AHU06")].reset_index(drop=True)
target_string = "AHU06"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU06_status['AHU06_Status'] = temp_AHU06_status['Value']
temp_AHU06_status = temp_AHU06_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU06_SH['AHU06_SH'] = temp_AHU06_SH['Value']
temp_AHU06_SH = temp_AHU06_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU06_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU06_ST['AHU06_ST'] = temp_AHU06_ST['Value']
temp_AHU06_ST = temp_AHU06_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU06_ST.head())

temp_AHU06SHST = pd.merge(temp_AHU06_SH,temp_AHU06_ST)
print(temp_AHU06SHST.head())
print(temp_AHU06SHST.shape)

temp_AHU06 = pd.merge(temp_AHU06_status,temp_AHU06SHST)
print(temp_AHU06.head())
print(temp_AHU06.shape)

target_string_temp = F12 2F AHU06
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU06  FanStatus      0   NaN  2019/05/27  14:25
1  F12 2F AHU06  FanStatus      0   NaN  2019/05/27  14:30
2  F12 2F AHU06  FanStatus      0   NaN  2019/05/27  14:35
3  F12 2F AHU06  FanStatus      0   NaN  2019/05/27  14:40
4  F12 2F AHU06  FanStatus      0   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU06_Status
0  2019/05/27  14:25             0
1  2019/05/27  14:30             0
2  2019/05/27  14:35             0
3  2019/05/27  14:40             0
4  2019/05/27  14:45             0
           Name Type  Value  Unit        Date   Time
0  F12 2F AHU06   SH    0.0   NaN  2019/05/27  14:25
1  F12 2F AHU06   SH    0.0   NaN  2019/05/27  14:30
2  F12 2F AHU06   SH    0.0   NaN  2019/05/27  14:35
3  F12 2F AHU06   SH    0.0   NaN  2019/05/27  14:40
4  F12 2F AHU06   SH    0.0   NaN  2019/05/27  14:45
(1376, 6)
         Date   Time  AHU06_SH
0  2019/05/27  14:25       0.0
1  2019/05/27  14:30       0.0
2  2019/05/27  14:35       0.0
3  2019/05/27  14:40       0.0
4  2019/05/27  14:45       0.0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU06   ST  22.8773   NaN  2019/05/27  14:25
1  F12 2F AHU06   ST  22.8592   NaN  2019/05/27  14:30
2  F12 2F AHU06   ST  22.9022   NaN  2019/05/27  14:35
3  F12 2F AHU06   ST  22.8050   NaN  2019/05/27  14:40
4  F12 2F AHU06   ST  22.7778   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU06_ST
0  2019/05/27  14:25   22.8773
1  2019/05/27  14:30   22.8592
2  2019/05/27  14:35   22.9022
3  2019/05/27  14:40   22.8050
4  2019/05/27  14:45   22.7778
         Date   Time  AHU06_SH  AHU06_ST
0  2019/05/27  14:25       0.0   22.8773
1  2019/05/27  14:30       0.0   22.8592
2  2019/05/27  14:35       0.0   22.9022
3  2019/05/27  14:40       0.0   22.8050
4  2019/05/27  14:45       0.0   22.7778
(1376, 4)
         Date   Time  AHU06_Status  AHU06_SH  AHU06_ST
0  2019/05/27  14:25             0       0.0   22.8773
1  2019/05/27  14:30             0       0.0   22.8592
2  2019/05/27  14:35             0       0.0   22.9022
3  2019/05/27  14:40             0       0.0   22.8050
4  2019/05/27  14:45             0       0.0   22.7778
(1376, 5)

AHU07

In [12]:
# temp = df[(df['Name']=="F12 3F AHU07")].reset_index(drop=True)
target_string = "AHU07"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU07_status['AHU07_Status'] = temp_AHU07_status['Value']
temp_AHU07_status = temp_AHU07_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU07_SH['AHU07_SH'] = temp_AHU07_SH['Value']
temp_AHU07_SH = temp_AHU07_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU07_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU07_ST['AHU07_ST'] = temp_AHU07_ST['Value']
temp_AHU07_ST = temp_AHU07_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU07_ST.head())

temp_AHU07SHST = pd.merge(temp_AHU07_SH,temp_AHU07_ST)
print(temp_AHU07SHST.head())
print(temp_AHU07SHST.shape)
temp_AHU07 = pd.merge(temp_AHU07_status,temp_AHU07SHST)
print(temp_AHU07.head())
print(temp_AHU07.shape)

target_string_temp = F12 2F AHU07
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU07  FanStatus      1   NaN  2019/05/27  14:25
1  F12 2F AHU07  FanStatus      1   NaN  2019/05/27  14:30
2  F12 2F AHU07  FanStatus      1   NaN  2019/05/27  14:35
3  F12 2F AHU07  FanStatus      1   NaN  2019/05/27  14:40
4  F12 2F AHU07  FanStatus      1   NaN  2019/05/27  14:45
(1377, 6)
         Date   Time  AHU07_Status
0  2019/05/27  14:25             1
1  2019/05/27  14:30             1
2  2019/05/27  14:35             1
3  2019/05/27  14:40             1
4  2019/05/27  14:45             1
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU07   SH  78.0586   NaN  2019/05/27  00:05
1  F12 2F AHU07   SH  77.9139   NaN  2019/05/27  00:10
2  F12 2F AHU07   SH  77.9139   NaN  2019/05/27  00:15
3  F12 2F AHU07   SH  78.0043   NaN  2019/05/27  00:20
4  F12 2F AHU07   SH  77.9501   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU07_SH
0  2019/05/27  00:05   78.0586
1  2019/05/27  00:10   77.9139
2  2019/05/27  00:15   77.9139
3  2019/05/27  00:20   78.0043
4  2019/05/27  00:25   77.9501
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU07   ST  22.8185   NaN  2019/05/27  00:05
1  F12 2F AHU07   ST  22.7891   NaN  2019/05/27  00:10
2  F12 2F AHU07   ST  22.8117   NaN  2019/05/27  00:15
3  F12 2F AHU07   ST  22.7733   NaN  2019/05/27  00:20
4  F12 2F AHU07   ST  22.8004   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU07_ST
0  2019/05/27  00:05   22.8185
1  2019/05/27  00:10   22.7891
2  2019/05/27  00:15   22.8117
3  2019/05/27  00:20   22.7733
4  2019/05/27  00:25   22.8004
         Date   Time  AHU07_SH  AHU07_ST
0  2019/05/27  00:05   78.0586   22.8185
1  2019/05/27  00:10   77.9139   22.7891
2  2019/05/27  00:15   77.9139   22.8117
3  2019/05/27  00:20   78.0043   22.7733
4  2019/05/27  00:25   77.9501   22.8004
(1874, 4)
         Date   Time  AHU07_Status  AHU07_SH  AHU07_ST
0  2019/05/27  14:25             1   93.1504   18.9732
1  2019/05/27  14:30             1   92.4541   18.8082
2  2019/05/27  14:35             1   90.5914   18.5618
3  2019/05/27  14:40             1   88.8462   18.4895
4  2019/05/27  14:45             1   89.6690   18.9981
(1377, 5)

AHU08

In [13]:
# temp = df[(df['Name']=="F12 3F AHU08")].reset_index(drop=True)
target_string = "AHU08"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU08_status['AHU08_Status'] = temp_AHU08_status['Value']
temp_AHU08_status = temp_AHU08_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU08_SH['AHU08_SH'] = temp_AHU08_SH['Value']
temp_AHU08_SH = temp_AHU08_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU08_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU08_ST['AHU08_ST'] = temp_AHU08_ST['Value']
temp_AHU08_ST = temp_AHU08_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU08_ST.head())

temp_AHU08SHST = pd.merge(temp_AHU08_SH,temp_AHU08_ST)
print(temp_AHU08SHST.head())
print(temp_AHU08SHST.shape)

temp_AHU08 = pd.merge(temp_AHU08_status,temp_AHU08SHST)
print(temp_AHU08.head())
print(temp_AHU08.shape)

target_string_temp = F12 2F AHU08
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU08  FanStatus      0   NaN  2019/05/27  00:05
1  F12 2F AHU08  FanStatus      0   NaN  2019/05/27  00:10
2  F12 2F AHU08  FanStatus      0   NaN  2019/05/27  00:15
3  F12 2F AHU08  FanStatus      0   NaN  2019/05/27  00:20
4  F12 2F AHU08  FanStatus      0   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU08_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU08   SH  86.5901   NaN  2019/05/27  00:05
1  F12 2F AHU08   SH  86.5132   NaN  2019/05/27  00:10
2  F12 2F AHU08   SH  86.5042   NaN  2019/05/27  00:15
3  F12 2F AHU08   SH  86.4635   NaN  2019/05/27  00:20
4  F12 2F AHU08   SH  86.5132   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU08_SH
0  2019/05/27  00:05   86.5901
1  2019/05/27  00:10   86.5132
2  2019/05/27  00:15   86.5042
3  2019/05/27  00:20   86.4635
4  2019/05/27  00:25   86.5132
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU08   ST  24.0890   NaN  2019/05/27  00:05
1  F12 2F AHU08   ST  24.1048   NaN  2019/05/27  00:10
2  F12 2F AHU08   ST  24.0958   NaN  2019/05/27  00:15
3  F12 2F AHU08   ST  24.0664   NaN  2019/05/27  00:20
4  F12 2F AHU08   ST  24.1048   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU08_ST
0  2019/05/27  00:05   24.0890
1  2019/05/27  00:10   24.1048
2  2019/05/27  00:15   24.0958
3  2019/05/27  00:20   24.0664
4  2019/05/27  00:25   24.1048
         Date   Time  AHU08_SH  AHU08_ST
0  2019/05/27  00:05   86.5901   24.0890
1  2019/05/27  00:10   86.5132   24.1048
2  2019/05/27  00:15   86.5042   24.0958
3  2019/05/27  00:20   86.4635   24.0664
4  2019/05/27  00:25   86.5132   24.1048
(1874, 4)
         Date   Time  AHU08_Status  AHU08_SH  AHU08_ST
0  2019/05/27  00:05             0   86.5901   24.0890
1  2019/05/27  00:10             0   86.5132   24.1048
2  2019/05/27  00:15             0   86.5042   24.0958
3  2019/05/27  00:20             0   86.4635   24.0664
4  2019/05/27  00:25             0   86.5132   24.1048
(1874, 5)

AHU09

In [14]:
# temp = df[(df['Name']=="F12 3F AHU09")].reset_index(drop=True)
target_string = "AHU09"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU09_status['AHU09_Status'] = temp_AHU09_status['Value']
temp_AHU09_status = temp_AHU09_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU09_SH['AHU09_SH'] = temp_AHU09_SH['Value']
temp_AHU09_SH = temp_AHU09_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU09_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU09_ST['AHU09_ST'] = temp_AHU09_ST['Value']
temp_AHU09_ST = temp_AHU09_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU09_ST.head())

temp_AHU09SHST = pd.merge(temp_AHU09_SH,temp_AHU09_ST)
print(temp_AHU09SHST.head())

temp_AHU09 = pd.merge(temp_AHU09_status,temp_AHU09SHST)
print(temp_AHU09.head())

target_string_temp = F12 2F AHU09
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU09  FanStatus      0   NaN  2019/05/27  00:05
1  F12 2F AHU09  FanStatus      0   NaN  2019/05/27  00:10
2  F12 2F AHU09  FanStatus      0   NaN  2019/05/27  00:15
3  F12 2F AHU09  FanStatus      0   NaN  2019/05/27  00:20
4  F12 2F AHU09  FanStatus      0   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU09_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU09   SH  69.0297   NaN  2019/05/27  00:05
1  F12 2F AHU09   SH  69.2558   NaN  2019/05/27  00:10
2  F12 2F AHU09   SH  69.2287   NaN  2019/05/27  00:15
3  F12 2F AHU09   SH  69.2422   NaN  2019/05/27  00:20
4  F12 2F AHU09   SH  69.0795   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU09_SH
0  2019/05/27  00:05   69.0297
1  2019/05/27  00:10   69.2558
2  2019/05/27  00:15   69.2287
3  2019/05/27  00:20   69.2422
4  2019/05/27  00:25   69.0795
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU09   ST  22.8343   NaN  2019/05/27  00:05
1  F12 2F AHU09   ST  22.8253   NaN  2019/05/27  00:10
2  F12 2F AHU09   ST  22.8728   NaN  2019/05/27  00:15
3  F12 2F AHU09   ST  22.8343   NaN  2019/05/27  00:20
4  F12 2F AHU09   ST  22.8456   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU09_ST
0  2019/05/27  00:05   22.8343
1  2019/05/27  00:10   22.8253
2  2019/05/27  00:15   22.8728
3  2019/05/27  00:20   22.8343
4  2019/05/27  00:25   22.8456
         Date   Time  AHU09_SH  AHU09_ST
0  2019/05/27  00:05   69.0297   22.8343
1  2019/05/27  00:10   69.2558   22.8253
2  2019/05/27  00:15   69.2287   22.8728
3  2019/05/27  00:20   69.2422   22.8343
4  2019/05/27  00:25   69.0795   22.8456
         Date   Time  AHU09_Status  AHU09_SH  AHU09_ST
0  2019/05/27  00:05             0   69.0297   22.8343
1  2019/05/27  00:10             0   69.2558   22.8253
2  2019/05/27  00:15             0   69.2287   22.8728
3  2019/05/27  00:20             0   69.2422   22.8343
4  2019/05/27  00:25             0   69.0795   22.8456

AHU10

In [15]:
# temp = df[(df['Name']=="F12 3F AHU10")].reset_index(drop=True)
target_string = "AHU10"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU10_status['AHU10_Status'] = temp_AHU10_status['Value']
temp_AHU10_status = temp_AHU10_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_status.head())



temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU10_SH['AHU10_SH'] = temp_AHU10_SH['Value']
temp_AHU10_SH = temp_AHU10_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU10_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU10_ST['AHU10_ST'] = temp_AHU10_ST['Value']
temp_AHU10_ST = temp_AHU10_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU10_ST.head())

temp_AHU10SHST = pd.merge(temp_AHU10_SH,temp_AHU10_ST)
print(temp_AHU10SHST.head())

temp_AHU10 = pd.merge(temp_AHU10_status,temp_AHU10SHST)
print(temp_AHU10.head())

target_string_temp = F12 2F AHU10
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU10  FanStatus      0   NaN  2019/05/27  00:05
1  F12 2F AHU10  FanStatus      0   NaN  2019/05/27  00:10
2  F12 2F AHU10  FanStatus      0   NaN  2019/05/27  00:15
3  F12 2F AHU10  FanStatus      0   NaN  2019/05/27  00:20
4  F12 2F AHU10  FanStatus      0   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU10_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU10   SH  82.8194   NaN  2019/05/27  00:05
1  F12 2F AHU10   SH  82.8059   NaN  2019/05/27  00:10
2  F12 2F AHU10   SH  82.8239   NaN  2019/05/27  00:15
3  F12 2F AHU10   SH  82.8420   NaN  2019/05/27  00:20
4  F12 2F AHU10   SH  82.8692   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU10_SH
0  2019/05/27  00:05   82.8194
1  2019/05/27  00:10   82.8059
2  2019/05/27  00:15   82.8239
3  2019/05/27  00:20   82.8420
4  2019/05/27  00:25   82.8692
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU10   ST  24.1410   NaN  2019/05/27  00:05
1  F12 2F AHU10   ST  24.1342   NaN  2019/05/27  00:10
2  F12 2F AHU10   ST  24.1455   NaN  2019/05/27  00:15
3  F12 2F AHU10   ST  24.1704   NaN  2019/05/27  00:20
4  F12 2F AHU10   ST  24.1907   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU10_ST
0  2019/05/27  00:05   24.1410
1  2019/05/27  00:10   24.1342
2  2019/05/27  00:15   24.1455
3  2019/05/27  00:20   24.1704
4  2019/05/27  00:25   24.1907
         Date   Time  AHU10_SH  AHU10_ST
0  2019/05/27  00:05   82.8194   24.1410
1  2019/05/27  00:10   82.8059   24.1342
2  2019/05/27  00:15   82.8239   24.1455
3  2019/05/27  00:20   82.8420   24.1704
4  2019/05/27  00:25   82.8692   24.1907
         Date   Time  AHU10_Status  AHU10_SH  AHU10_ST
0  2019/05/27  00:05             0   82.8194   24.1410
1  2019/05/27  00:10             0   82.8059   24.1342
2  2019/05/27  00:15             0   82.8239   24.1455
3  2019/05/27  00:20             0   82.8420   24.1704
4  2019/05/27  00:25             0   82.8692   24.1907

AHU11

In [16]:
# temp = df[(df['Name']=="F12 3F AHU11")].reset_index(drop=True)
target_string = "AHU11"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU11_status['AHU11_Status'] = temp_AHU11_status['Value']
temp_AHU11_status = temp_AHU11_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_status.head())


temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU11_SH['AHU11_SH'] = temp_AHU11_SH['Value']
temp_AHU11_SH = temp_AHU11_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_SH.head())

temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU11_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU11_ST['AHU11_ST'] = temp_AHU11_ST['Value']
temp_AHU11_ST = temp_AHU11_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU11_ST.head())

temp_AHU11SHST = pd.merge(temp_AHU11_SH,temp_AHU11_ST)
print(temp_AHU11SHST.head())

temp_AHU11 = pd.merge(temp_AHU11_status,temp_AHU11SHST)
print(temp_AHU11.head())

target_string_temp = F12 2F AHU11
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU11  FanStatus      0   NaN  2019/05/27  00:05
1  F12 2F AHU11  FanStatus      0   NaN  2019/05/27  00:10
2  F12 2F AHU11  FanStatus      0   NaN  2019/05/27  00:15
3  F12 2F AHU11  FanStatus      0   NaN  2019/05/27  00:20
4  F12 2F AHU11  FanStatus      0   NaN  2019/05/27  00:25
(1874, 6)
         Date   Time  AHU11_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU11   SH  85.5909   NaN  2019/05/27  00:05
1  F12 2F AHU11   SH  85.7899   NaN  2019/05/27  00:10
2  F12 2F AHU11   SH  85.7446   NaN  2019/05/27  00:15
3  F12 2F AHU11   SH  85.7853   NaN  2019/05/27  00:20
4  F12 2F AHU11   SH  85.7266   NaN  2019/05/27  00:25
(1883, 6)
         Date   Time  AHU11_SH
0  2019/05/27  00:05   85.5909
1  2019/05/27  00:10   85.7899
2  2019/05/27  00:15   85.7446
3  2019/05/27  00:20   85.7853
4  2019/05/27  00:25   85.7266
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU11   ST  23.8584   NaN  2019/05/27  00:05
1  F12 2F AHU11   ST  23.8629   NaN  2019/05/27  00:10
2  F12 2F AHU11   ST  23.8403   NaN  2019/05/27  00:15
3  F12 2F AHU11   ST  23.8561   NaN  2019/05/27  00:20
4  F12 2F AHU11   ST  23.8878   NaN  2019/05/27  00:25
(1878, 6)
         Date   Time  AHU11_ST
0  2019/05/27  00:05   23.8584
1  2019/05/27  00:10   23.8629
2  2019/05/27  00:15   23.8403
3  2019/05/27  00:20   23.8561
4  2019/05/27  00:25   23.8878
         Date   Time  AHU11_SH  AHU11_ST
0  2019/05/27  00:05   85.5909   23.8584
1  2019/05/27  00:10   85.7899   23.8629
2  2019/05/27  00:15   85.7446   23.8403
3  2019/05/27  00:20   85.7853   23.8561
4  2019/05/27  00:25   85.7266   23.8878
         Date   Time  AHU11_Status  AHU11_SH  AHU11_ST
0  2019/05/27  00:05             0   85.5909   23.8584
1  2019/05/27  00:10             0   85.7899   23.8629
2  2019/05/27  00:15             0   85.7446   23.8403
3  2019/05/27  00:20             0   85.7853   23.8561
4  2019/05/27  00:25             0   85.7266   23.8878

AHU12

In [17]:
# temp = df[(df['Name']=="F12 3F AHU12")].reset_index(drop=True)
target_string = "AHU12"
target_string_temp = target + target_string
print("target_string_temp =",target_string_temp)
temp = df_FanStatus[(df_FanStatus['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_status = temp[(temp['Type']=='FanStatus')].reset_index(drop=True)
temp_AHU12_status['AHU12_Status'] = temp_AHU12_status['Value']
temp_AHU12_status = temp_AHU12_status.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_status.head())



temp = df_SH[(df_SH['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_SH = temp[(temp['Type']=='SH')].reset_index(drop=True)
temp_AHU12_SH['AHU12_SH'] = temp_AHU12_SH['Value']
temp_AHU12_SH = temp_AHU12_SH.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_SH.head())


temp = df_ST[(df_ST['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_AHU12_ST = temp[(temp['Type']=='ST')].reset_index(drop=True)
temp_AHU12_ST['AHU12_ST'] = temp_AHU12_ST['Value']
temp_AHU12_ST = temp_AHU12_ST.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_AHU12_ST.head())

temp_AHU12SHST = pd.merge(temp_AHU12_SH,temp_AHU12_ST)
print(temp_AHU12SHST.head())

temp_AHU12 = pd.merge(temp_AHU12_status,temp_AHU12SHST)
print(temp_AHU12.head())

target_string_temp = F12 2F AHU12
           Name       Type  Value  Unit        Date   Time
0  F12 2F AHU12  FanStatus      0   NaN  2019/05/27  00:05
1  F12 2F AHU12  FanStatus      0   NaN  2019/05/27  00:10
2  F12 2F AHU12  FanStatus      0   NaN  2019/05/27  00:15
3  F12 2F AHU12  FanStatus      0   NaN  2019/05/27  00:20
4  F12 2F AHU12  FanStatus      0   NaN  2019/05/27  00:25
(1878, 6)
         Date   Time  AHU12_Status
0  2019/05/27  00:05             0
1  2019/05/27  00:10             0
2  2019/05/27  00:15             0
3  2019/05/27  00:20             0
4  2019/05/27  00:25             0
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU12   SH  88.6427   NaN  2019/05/27  00:05
1  F12 2F AHU12   SH  88.7241   NaN  2019/05/27  00:10
2  F12 2F AHU12   SH  88.7241   NaN  2019/05/27  00:15
3  F12 2F AHU12   SH  88.7377   NaN  2019/05/27  00:20
4  F12 2F AHU12   SH  88.7106   NaN  2019/05/27  00:25
(1878, 6)
         Date   Time  AHU12_SH
0  2019/05/27  00:05   88.6427
1  2019/05/27  00:10   88.7241
2  2019/05/27  00:15   88.7241
3  2019/05/27  00:20   88.7377
4  2019/05/27  00:25   88.7106
           Name Type    Value  Unit        Date   Time
0  F12 2F AHU12   ST  23.1938   NaN  2019/05/27  00:05
1  F12 2F AHU12   ST  23.1667   NaN  2019/05/27  00:10
2  F12 2F AHU12   ST  23.1689   NaN  2019/05/27  00:15
3  F12 2F AHU12   ST  23.2073   NaN  2019/05/27  00:20
4  F12 2F AHU12   ST  23.1757   NaN  2019/05/27  00:25
(1878, 6)
         Date   Time  AHU12_ST
0  2019/05/27  00:05   23.1938
1  2019/05/27  00:10   23.1667
2  2019/05/27  00:15   23.1689
3  2019/05/27  00:20   23.2073
4  2019/05/27  00:25   23.1757
         Date   Time  AHU12_SH  AHU12_ST
0  2019/05/27  00:05   88.6427   23.1938
1  2019/05/27  00:10   88.7241   23.1667
2  2019/05/27  00:15   88.7241   23.1689
3  2019/05/27  00:20   88.7377   23.2073
4  2019/05/27  00:25   88.7106   23.1757
         Date   Time  AHU12_Status  AHU12_SH  AHU12_ST
0  2019/05/27  00:05             0   88.6427   23.1938
1  2019/05/27  00:10             0   88.7241   23.1667
2  2019/05/27  00:15             0   88.7241   23.1689
3  2019/05/27  00:20             0   88.7377   23.2073
4  2019/05/27  00:25             0   88.7106   23.1757

Merge all

In [18]:
temp_AHU_ALL = pd.merge(temp_AHU01,temp_AHU02)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU03)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU04)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU05)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU06)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU07)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU08)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU09)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU10)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU11)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU12)
print(temp_AHU_ALL.head())
print(temp_AHU_ALL.shape)

         Date   Time  AHU01_Status  AHU01_SH  AHU01_ST  AHU02_Status  \
0  2019/05/27  14:25             1   86.6444   15.2794             0
1  2019/05/27  14:30             1   86.5539   15.2478             0
2  2019/05/27  14:35             1   86.3776   15.2591             0
3  2019/05/27  14:40             1   86.1877   15.1912             0
4  2019/05/27  14:45             1   86.5268   15.2410             0

   AHU02_SH  AHU02_ST  AHU03_Status  AHU03_SH    ...     AHU09_ST  \
0   70.1827   22.9632             1   82.9596    ...      23.6708
1   70.0606   22.9315             1   81.1827    ...      23.6369
2   69.8436   22.8298             1   80.9160    ...      23.6256
3   69.4909   22.8502             1   82.8872    ...      23.6843
4   69.4502   22.7394             1   78.8769    ...      23.6414

   AHU10_Status  AHU10_SH  AHU10_ST  AHU11_Status  AHU11_SH  AHU11_ST  \
0             0   71.1231   24.6473             0   74.2020   24.0799
1             0   70.9648   24.5795             0   73.4650   24.0641
2             0   70.3635   24.5660             0   73.1440   24.0370
3             0   69.4457   24.5569             0   72.7507   24.0551
4             0   68.0441   24.5682             0   72.2805   24.0732

   AHU12_Status  AHU12_SH  AHU12_ST
0             0   72.3121   22.9768
1             0   72.4071   22.9609
2             0   72.4252   22.9835
3             0   72.3528   22.9948
4             0   72.3800   23.0107

[5 rows x 38 columns]
(1376, 38)

In [18]:
# df_FanStatus = pd.read_csv('RowData.csv')
# df_Temperature = pd.read_csv('RowData(3).csv')
# df_Humidity = pd.read_csv('RowData(4).csv')

sensor 1

In [19]:
target_string = sensor_1
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor1_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor1_Temperature['Sensor1_Temperature'] = temp_Sensor1_Temperature['Value']
target_string = sensor_1 + "_Temperature"
temp_Sensor1_Temperature[target_string] = temp_Sensor1_Temperature['Value']
temp_Sensor1_Temperature = temp_Sensor1_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor1_Temperature.head())


temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor1_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor1_Humidity['Sensor1_Humidity'] = temp_Sensor1_Humidity['Value']
target_string = sensor_1 + "_Humidity"
temp_Sensor1_Humidity[target_string] = temp_Sensor1_Humidity['Value']
temp_Sensor1_Humidity = temp_Sensor1_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor1_Humidity.head())

temp_Sensor1 = pd.merge(temp_Sensor1_Temperature,temp_Sensor1_Humidity)
print(temp_Sensor1.head())
print(temp_Sensor1.shape)

target_string_temp = F12-2F-C02
         Name         Type  Value  Unit        Date   Time
0  F12-2F-C02  Temperature   25.1   NaN  2019/05/27  00:05
1  F12-2F-C02  Temperature   25.1   NaN  2019/05/27  00:10
2  F12-2F-C02  Temperature   25.1   NaN  2019/05/27  00:15
3  F12-2F-C02  Temperature   25.1   NaN  2019/05/27  00:20
4  F12-2F-C02  Temperature   25.0   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  C02_Temperature
0  2019/05/27  00:05             25.1
1  2019/05/27  00:10             25.1
2  2019/05/27  00:15             25.1
3  2019/05/27  00:20             25.1
4  2019/05/27  00:25             25.0
         Name      Type  Value  Unit        Date   Time
0  F12-2F-C02  Humidity   67.8   NaN  2019/05/27  00:05
1  F12-2F-C02  Humidity   67.9   NaN  2019/05/27  00:10
2  F12-2F-C02  Humidity   67.9   NaN  2019/05/27  00:15
3  F12-2F-C02  Humidity   68.1   NaN  2019/05/27  00:20
4  F12-2F-C02  Humidity   68.2   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  C02_Humidity
0  2019/05/27  00:05          67.8
1  2019/05/27  00:10          67.9
2  2019/05/27  00:15          67.9
3  2019/05/27  00:20          68.1
4  2019/05/27  00:25          68.2
         Date   Time  C02_Temperature  C02_Humidity
0  2019/05/27  00:05             25.1          67.8
1  2019/05/27  00:10             25.1          67.9
2  2019/05/27  00:15             25.1          67.9
3  2019/05/27  00:20             25.1          68.1
4  2019/05/27  00:25             25.0          68.2
(1897, 4)

sensor_2

In [20]:
target_string = sensor_2
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor2_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor2_Temperature['Sensor2_Temperature'] = temp_Sensor2_Temperature['Value']
target_string = sensor_2 + "_Temperature"
temp_Sensor2_Temperature[target_string] = temp_Sensor2_Temperature['Value']
temp_Sensor2_Temperature = temp_Sensor2_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor2_Temperature.head())


temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor2_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor2_Humidity['Sensor2_Humidity'] = temp_Sensor2_Humidity['Value']
target_string = sensor_2 + "_Humidity"
temp_Sensor2_Humidity[target_string] = temp_Sensor2_Humidity['Value']
temp_Sensor2_Humidity = temp_Sensor2_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor2_Humidity.head())

temp_Sensor2 = pd.merge(temp_Sensor2_Temperature,temp_Sensor2_Humidity)
print(temp_Sensor2.head())
print(temp_Sensor2.shape)

target_string_temp = F12-2F-C19
         Name         Type  Value  Unit        Date   Time
0  F12-2F-C19  Temperature   23.7   NaN  2019/05/27  00:05
1  F12-2F-C19  Temperature   23.7   NaN  2019/05/27  00:10
2  F12-2F-C19  Temperature   23.7   NaN  2019/05/27  00:15
3  F12-2F-C19  Temperature   23.7   NaN  2019/05/27  00:20
4  F12-2F-C19  Temperature   23.7   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  C19_Temperature
0  2019/05/27  00:05             23.7
1  2019/05/27  00:10             23.7
2  2019/05/27  00:15             23.7
3  2019/05/27  00:20             23.7
4  2019/05/27  00:25             23.7
         Name      Type  Value  Unit        Date   Time
0  F12-2F-C19  Humidity   74.2   NaN  2019/05/27  00:05
1  F12-2F-C19  Humidity   74.2   NaN  2019/05/27  00:10
2  F12-2F-C19  Humidity   74.0   NaN  2019/05/27  00:15
3  F12-2F-C19  Humidity   74.2   NaN  2019/05/27  00:20
4  F12-2F-C19  Humidity   74.2   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  C19_Humidity
0  2019/05/27  00:05          74.2
1  2019/05/27  00:10          74.2
2  2019/05/27  00:15          74.0
3  2019/05/27  00:20          74.2
4  2019/05/27  00:25          74.2
         Date   Time  C19_Temperature  C19_Humidity
0  2019/05/27  00:05             23.7          74.2
1  2019/05/27  00:10             23.7          74.2
2  2019/05/27  00:15             23.7          74.0
3  2019/05/27  00:20             23.7          74.2
4  2019/05/27  00:25             23.7          74.2
(1897, 4)

sensor_3

In [21]:
target_string = sensor_3
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor3_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor3_Temperature['Sensor3_Temperature'] = temp_Sensor3_Temperature['Value']
target_string = sensor_3 + "_Temperature"
temp_Sensor3_Temperature[target_string] = temp_Sensor3_Temperature['Value']
temp_Sensor3_Temperature = temp_Sensor3_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor3_Temperature.head())




temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor3_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor3_Humidity['Sensor3_Humidity'] = temp_Sensor3_Humidity['Value']
target_string = sensor_3 + "_Humidity"
temp_Sensor3_Humidity[target_string] = temp_Sensor3_Humidity['Value']
temp_Sensor3_Humidity = temp_Sensor3_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor3_Humidity.head())

temp_Sensor3 = pd.merge(temp_Sensor3_Temperature,temp_Sensor3_Humidity)
print(temp_Sensor3.head())
print(temp_Sensor3.shape)

target_string_temp = F12-2F-D08
         Name         Type  Value  Unit        Date   Time
0  F12-2F-D08  Temperature   24.7   NaN  2019/05/27  00:05
1  F12-2F-D08  Temperature   24.7   NaN  2019/05/27  00:10
2  F12-2F-D08  Temperature   24.7   NaN  2019/05/27  00:15
3  F12-2F-D08  Temperature   24.7   NaN  2019/05/27  00:20
4  F12-2F-D08  Temperature   24.7   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  D08_Temperature
0  2019/05/27  00:05             24.7
1  2019/05/27  00:10             24.7
2  2019/05/27  00:15             24.7
3  2019/05/27  00:20             24.7
4  2019/05/27  00:25             24.7
         Name      Type  Value  Unit        Date   Time
0  F12-2F-D08  Humidity   72.2   NaN  2019/05/27  00:05
1  F12-2F-D08  Humidity   72.2   NaN  2019/05/27  00:10
2  F12-2F-D08  Humidity   72.2   NaN  2019/05/27  00:15
3  F12-2F-D08  Humidity   72.2   NaN  2019/05/27  00:20
4  F12-2F-D08  Humidity   72.2   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  D08_Humidity
0  2019/05/27  00:05          72.2
1  2019/05/27  00:10          72.2
2  2019/05/27  00:15          72.2
3  2019/05/27  00:20          72.2
4  2019/05/27  00:25          72.2
         Date   Time  D08_Temperature  D08_Humidity
0  2019/05/27  00:05             24.7          72.2
1  2019/05/27  00:10             24.7          72.2
2  2019/05/27  00:15             24.7          72.2
3  2019/05/27  00:20             24.7          72.2
4  2019/05/27  00:25             24.7          72.2
(1897, 4)

sensor_4

In [22]:
target_string = sensor_4
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor4_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor4_Temperature['Sensor4_Temperature'] = temp_Sensor4_Temperature['Value']
target_string = sensor_4 + "_Temperature"
temp_Sensor4_Temperature[target_string] = temp_Sensor4_Temperature['Value']
temp_Sensor4_Temperature = temp_Sensor4_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor4_Temperature.head())




temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor4_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor4_Humidity['Sensor4_Humidity'] = temp_Sensor4_Humidity['Value']
target_string = sensor_4 + "_Humidity"
temp_Sensor4_Humidity[target_string] = temp_Sensor4_Humidity['Value']
temp_Sensor4_Humidity = temp_Sensor4_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor4_Humidity.head())

temp_Sensor4 = pd.merge(temp_Sensor4_Temperature,temp_Sensor4_Humidity)
print(temp_Sensor4.head())
print(temp_Sensor4.shape)

target_string_temp = F12-2F-D14
         Name         Type  Value  Unit        Date   Time
0  F12-2F-D14  Temperature   23.9   NaN  2019/05/27  00:05
1  F12-2F-D14  Temperature   23.9   NaN  2019/05/27  00:10
2  F12-2F-D14  Temperature   23.9   NaN  2019/05/27  00:15
3  F12-2F-D14  Temperature   23.9   NaN  2019/05/27  00:20
4  F12-2F-D14  Temperature   23.9   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  D14_Temperature
0  2019/05/27  00:05             23.9
1  2019/05/27  00:10             23.9
2  2019/05/27  00:15             23.9
3  2019/05/27  00:20             23.9
4  2019/05/27  00:25             23.9
         Name      Type  Value  Unit        Date   Time
0  F12-2F-D14  Humidity   71.5   NaN  2019/05/27  00:05
1  F12-2F-D14  Humidity   71.5   NaN  2019/05/27  00:10
2  F12-2F-D14  Humidity   71.5   NaN  2019/05/27  00:15
3  F12-2F-D14  Humidity   71.5   NaN  2019/05/27  00:20
4  F12-2F-D14  Humidity   71.5   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  D14_Humidity
0  2019/05/27  00:05          71.5
1  2019/05/27  00:10          71.5
2  2019/05/27  00:15          71.5
3  2019/05/27  00:20          71.5
4  2019/05/27  00:25          71.5
         Date   Time  D14_Temperature  D14_Humidity
0  2019/05/27  00:05             23.9          71.5
1  2019/05/27  00:10             23.9          71.5
2  2019/05/27  00:15             23.9          71.5
3  2019/05/27  00:20             23.9          71.5
4  2019/05/27  00:25             23.9          71.5
(1897, 4)

sensor_5

In [23]:
target_string = sensor_5
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor5_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor5_Temperature['Sensor5_Temperature'] = temp_Sensor5_Temperature['Value']
target_string = sensor_5 + "_Temperature"
temp_Sensor5_Temperature[target_string] = temp_Sensor5_Temperature['Value']
temp_Sensor5_Temperature = temp_Sensor5_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor5_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor5_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor5_Humidity['Sensor5_Humidity'] = temp_Sensor5_Humidity['Value']
target_string = sensor_5 + "_Humidity"
temp_Sensor5_Humidity[target_string] = temp_Sensor5_Humidity['Value']
temp_Sensor5_Humidity = temp_Sensor5_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor5_Humidity.head())

temp_Sensor5 = pd.merge(temp_Sensor5_Temperature,temp_Sensor5_Humidity)
print(temp_Sensor5.head())
print(temp_Sensor5.shape)

target_string_temp = F12-2F-E03
         Name         Type  Value  Unit        Date   Time
0  F12-2F-E03  Temperature   23.7   NaN  2019/05/27  00:05
1  F12-2F-E03  Temperature   23.7   NaN  2019/05/27  00:10
2  F12-2F-E03  Temperature   23.8   NaN  2019/05/27  00:15
3  F12-2F-E03  Temperature   23.9   NaN  2019/05/27  00:20
4  F12-2F-E03  Temperature   23.9   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  E03_Temperature
0  2019/05/27  00:05             23.7
1  2019/05/27  00:10             23.7
2  2019/05/27  00:15             23.8
3  2019/05/27  00:20             23.9
4  2019/05/27  00:25             23.9
         Name      Type  Value  Unit        Date   Time
0  F12-2F-E03  Humidity   70.1   NaN  2019/05/27  00:05
1  F12-2F-E03  Humidity   70.1   NaN  2019/05/27  00:10
2  F12-2F-E03  Humidity   70.0   NaN  2019/05/27  00:15
3  F12-2F-E03  Humidity   69.8   NaN  2019/05/27  00:20
4  F12-2F-E03  Humidity   69.8   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  E03_Humidity
0  2019/05/27  00:05          70.1
1  2019/05/27  00:10          70.1
2  2019/05/27  00:15          70.0
3  2019/05/27  00:20          69.8
4  2019/05/27  00:25          69.8
         Date   Time  E03_Temperature  E03_Humidity
0  2019/05/27  00:05             23.7          70.1
1  2019/05/27  00:10             23.7          70.1
2  2019/05/27  00:15             23.8          70.0
3  2019/05/27  00:20             23.9          69.8
4  2019/05/27  00:25             23.9          69.8
(1897, 4)

sensor_6

In [24]:
target_string = sensor_6
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor6_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor6_Temperature['Sensor6_Temperature'] = temp_Sensor6_Temperature['Value']
target_string = sensor_6 + "_Temperature"
temp_Sensor6_Temperature[target_string] = temp_Sensor6_Temperature['Value']
temp_Sensor6_Temperature = temp_Sensor6_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor6_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor6_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor6_Humidity['Sensor6_Humidity'] = temp_Sensor6_Humidity['Value']
target_string = sensor_6 + "_Humidity"
temp_Sensor6_Humidity[target_string] = temp_Sensor6_Humidity['Value']
temp_Sensor6_Humidity = temp_Sensor6_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor6_Humidity.head())

temp_Sensor6 = pd.merge(temp_Sensor6_Temperature,temp_Sensor6_Humidity)
print(temp_Sensor6.head())
print(temp_Sensor6.shape)

target_string_temp = F12-2F-E19
         Name         Type  Value  Unit        Date   Time
0  F12-2F-E19  Temperature   24.1   NaN  2019/05/27  00:05
1  F12-2F-E19  Temperature   24.0   NaN  2019/05/27  00:10
2  F12-2F-E19  Temperature   23.9   NaN  2019/05/27  00:15
3  F12-2F-E19  Temperature   23.9   NaN  2019/05/27  00:20
4  F12-2F-E19  Temperature   23.9   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  E19_Temperature
0  2019/05/27  00:05             24.1
1  2019/05/27  00:10             24.0
2  2019/05/27  00:15             23.9
3  2019/05/27  00:20             23.9
4  2019/05/27  00:25             23.9
         Name      Type  Value  Unit        Date   Time
0  F12-2F-E19  Humidity   69.1   NaN  2019/05/27  00:05
1  F12-2F-E19  Humidity   69.0   NaN  2019/05/27  00:10
2  F12-2F-E19  Humidity   69.1   NaN  2019/05/27  00:15
3  F12-2F-E19  Humidity   69.1   NaN  2019/05/27  00:20
4  F12-2F-E19  Humidity   69.3   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  E19_Humidity
0  2019/05/27  00:05          69.1
1  2019/05/27  00:10          69.0
2  2019/05/27  00:15          69.1
3  2019/05/27  00:20          69.1
4  2019/05/27  00:25          69.3
         Date   Time  E19_Temperature  E19_Humidity
0  2019/05/27  00:05             24.1          69.1
1  2019/05/27  00:10             24.0          69.0
2  2019/05/27  00:15             23.9          69.1
3  2019/05/27  00:20             23.9          69.1
4  2019/05/27  00:25             23.9          69.3
(1897, 4)

sensor_7

In [25]:
target_string = sensor_7
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor7_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor7_Temperature['Sensor7_Temperature'] = temp_Sensor7_Temperature['Value']
target_string = sensor_7 + "_Temperature"
temp_Sensor7_Temperature[target_string] = temp_Sensor7_Temperature['Value']
temp_Sensor7_Temperature = temp_Sensor7_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor7_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor7_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor7_Humidity['Sensor7_Humidity'] = temp_Sensor7_Humidity['Value']
target_string = sensor_7 + "_Humidity"
temp_Sensor7_Humidity[target_string] = temp_Sensor7_Humidity['Value']
temp_Sensor7_Humidity = temp_Sensor7_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor7_Humidity.head())

temp_Sensor7 = pd.merge(temp_Sensor7_Temperature,temp_Sensor7_Humidity)
print(temp_Sensor7.head())
print(temp_Sensor7.shape)

target_string_temp = F12-2F-F02
         Name         Type  Value  Unit        Date   Time
0  F12-2F-F02  Temperature   24.4   NaN  2019/05/27  00:05
1  F12-2F-F02  Temperature   24.5   NaN  2019/05/27  00:10
2  F12-2F-F02  Temperature   24.5   NaN  2019/05/27  00:15
3  F12-2F-F02  Temperature   24.5   NaN  2019/05/27  00:20
4  F12-2F-F02  Temperature   24.5   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  F02_Temperature
0  2019/05/27  00:05             24.4
1  2019/05/27  00:10             24.5
2  2019/05/27  00:15             24.5
3  2019/05/27  00:20             24.5
4  2019/05/27  00:25             24.5
         Name      Type  Value  Unit        Date   Time
0  F12-2F-F02  Humidity   64.6   NaN  2019/05/27  00:05
1  F12-2F-F02  Humidity   64.4   NaN  2019/05/27  00:10
2  F12-2F-F02  Humidity   64.4   NaN  2019/05/27  00:15
3  F12-2F-F02  Humidity   64.4   NaN  2019/05/27  00:20
4  F12-2F-F02  Humidity   64.3   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  F02_Humidity
0  2019/05/27  00:05          64.6
1  2019/05/27  00:10          64.4
2  2019/05/27  00:15          64.4
3  2019/05/27  00:20          64.4
4  2019/05/27  00:25          64.3
         Date   Time  F02_Temperature  F02_Humidity
0  2019/05/27  00:05             24.4          64.6
1  2019/05/27  00:10             24.5          64.4
2  2019/05/27  00:15             24.5          64.4
3  2019/05/27  00:20             24.5          64.4
4  2019/05/27  00:25             24.5          64.3
(1897, 4)

sensor_8

In [26]:
target_string = sensor_8
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor8_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor8_Temperature['Sensor8_Temperature'] = temp_Sensor8_Temperature['Value']
target_string = sensor_8 + "_Temperature"
temp_Sensor8_Temperature[target_string] = temp_Sensor8_Temperature['Value']
temp_Sensor8_Temperature = temp_Sensor8_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor8_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor8_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor8_Humidity['Sensor8_Humidity'] = temp_Sensor8_Humidity['Value']
target_string = sensor_8 + "_Humidity"
temp_Sensor8_Humidity[target_string] = temp_Sensor8_Humidity['Value']
temp_Sensor8_Humidity = temp_Sensor8_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor8_Humidity.head())

temp_Sensor8 = pd.merge(temp_Sensor8_Temperature,temp_Sensor8_Humidity)
print(temp_Sensor8.head())
print(temp_Sensor8.shape)

target_string_temp = F12-2F-F08
         Name         Type  Value  Unit        Date   Time
0  F12-2F-F08  Temperature   25.3   NaN  2019/05/27  00:05
1  F12-2F-F08  Temperature   25.4   NaN  2019/05/27  00:10
2  F12-2F-F08  Temperature   25.4   NaN  2019/05/27  00:15
3  F12-2F-F08  Temperature   25.4   NaN  2019/05/27  00:20
4  F12-2F-F08  Temperature   25.3   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  F08_Temperature
0  2019/05/27  00:05             25.3
1  2019/05/27  00:10             25.4
2  2019/05/27  00:15             25.4
3  2019/05/27  00:20             25.4
4  2019/05/27  00:25             25.3
         Name      Type  Value  Unit        Date   Time
0  F12-2F-F08  Humidity   65.7   NaN  2019/05/27  00:05
1  F12-2F-F08  Humidity   65.7   NaN  2019/05/27  00:10
2  F12-2F-F08  Humidity   65.6   NaN  2019/05/27  00:15
3  F12-2F-F08  Humidity   65.4   NaN  2019/05/27  00:20
4  F12-2F-F08  Humidity   65.4   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  F08_Humidity
0  2019/05/27  00:05          65.7
1  2019/05/27  00:10          65.7
2  2019/05/27  00:15          65.6
3  2019/05/27  00:20          65.4
4  2019/05/27  00:25          65.4
         Date   Time  F08_Temperature  F08_Humidity
0  2019/05/27  00:05             25.3          65.7
1  2019/05/27  00:10             25.4          65.7
2  2019/05/27  00:15             25.4          65.6
3  2019/05/27  00:20             25.4          65.4
4  2019/05/27  00:25             25.3          65.4
(1897, 4)

sensor_9

In [27]:
target_string = sensor_9
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor9_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor9_Temperature['Sensor9_Temperature'] = temp_Sensor9_Temperature['Value']
target_string = sensor_9 + "_Temperature"
temp_Sensor9_Temperature[target_string] = temp_Sensor9_Temperature['Value']
temp_Sensor9_Temperature = temp_Sensor9_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor9_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor9_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor9_Humidity['Sensor9_Humidity'] = temp_Sensor9_Humidity['Value']
target_string = sensor_9 + "_Humidity"
temp_Sensor9_Humidity[target_string] = temp_Sensor9_Humidity['Value']
temp_Sensor9_Humidity = temp_Sensor9_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor9_Humidity.head())

temp_Sensor9 = pd.merge(temp_Sensor9_Temperature,temp_Sensor9_Humidity)
print(temp_Sensor9.head())
print(temp_Sensor9.shape)

target_string_temp = F12-2F-CLEANROOM01
                 Name         Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM01  Temperature   24.3   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM01  Temperature   24.4   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM01  Temperature   24.4   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM01  Temperature   24.4   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM01  Temperature   24.4   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM01_Temperature
0  2019/05/27  00:05                     24.3
1  2019/05/27  00:10                     24.4
2  2019/05/27  00:15                     24.4
3  2019/05/27  00:20                     24.4
4  2019/05/27  00:25                     24.4
                 Name      Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM01  Humidity   71.8   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM01  Humidity   71.7   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM01  Humidity   71.7   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM01  Humidity   71.5   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM01  Humidity   71.5   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM01_Humidity
0  2019/05/27  00:05                  71.8
1  2019/05/27  00:10                  71.7
2  2019/05/27  00:15                  71.7
3  2019/05/27  00:20                  71.5
4  2019/05/27  00:25                  71.5
         Date   Time  CLEANROOM01_Temperature  CLEANROOM01_Humidity
0  2019/05/27  00:05                     24.3                  71.8
1  2019/05/27  00:10                     24.4                  71.7
2  2019/05/27  00:15                     24.4                  71.7
3  2019/05/27  00:20                     24.4                  71.5
4  2019/05/27  00:25                     24.4                  71.5
(1897, 4)

sensor_10

In [28]:
target_string = sensor_10
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor10_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor10_Temperature['Sensor10_Temperature'] = temp_Sensor10_Temperature['Value']
target_string = sensor_10 + "_Temperature"
temp_Sensor10_Temperature[target_string] = temp_Sensor10_Temperature['Value']
temp_Sensor10_Temperature = temp_Sensor10_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor10_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor10_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor10_Humidity['Sensor10_Humidity'] = temp_Sensor10_Humidity['Value']
target_string = sensor_10 + "_Humidity"
temp_Sensor10_Humidity[target_string] = temp_Sensor10_Humidity['Value']
temp_Sensor10_Humidity = temp_Sensor10_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor10_Humidity.head())

temp_Sensor10 = pd.merge(temp_Sensor10_Temperature,temp_Sensor10_Humidity)
print(temp_Sensor10.head())
print(temp_Sensor10.shape)

target_string_temp = F12-2F-CLEANROOM02
                 Name         Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM02  Temperature   25.8   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM02  Temperature   25.8   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM02  Temperature   25.8   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM02  Temperature   25.8   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM02  Temperature   25.8   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM02_Temperature
0  2019/05/27  00:05                     25.8
1  2019/05/27  00:10                     25.8
2  2019/05/27  00:15                     25.8
3  2019/05/27  00:20                     25.8
4  2019/05/27  00:25                     25.8
                 Name      Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM02  Humidity   65.8   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM02  Humidity   65.7   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM02  Humidity   65.7   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM02  Humidity   65.7   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM02  Humidity   65.7   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM02_Humidity
0  2019/05/27  00:05                  65.8
1  2019/05/27  00:10                  65.7
2  2019/05/27  00:15                  65.7
3  2019/05/27  00:20                  65.7
4  2019/05/27  00:25                  65.7
         Date   Time  CLEANROOM02_Temperature  CLEANROOM02_Humidity
0  2019/05/27  00:05                     25.8                  65.8
1  2019/05/27  00:10                     25.8                  65.7
2  2019/05/27  00:15                     25.8                  65.7
3  2019/05/27  00:20                     25.8                  65.7
4  2019/05/27  00:25                     25.8                  65.7
(1897, 4)

sensor_11

In [30]:
target_string = sensor_11
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor11_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor11_Temperature['Sensor11_Temperature'] = temp_Sensor11_Temperature['Value']
target_string = sensor_11 + "_Temperature"
temp_Sensor11_Temperature[target_string] = temp_Sensor11_Temperature['Value']
temp_Sensor11_Temperature = temp_Sensor11_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor11_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor11_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor11_Humidity['Sensor11_Humidity'] = temp_Sensor11_Humidity['Value']
target_string = sensor_11 + "_Humidity"
temp_Sensor11_Humidity[target_string] = temp_Sensor11_Humidity['Value']
temp_Sensor11_Humidity = temp_Sensor11_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor11_Humidity.head())

temp_Sensor11 = pd.merge(temp_Sensor11_Temperature,temp_Sensor11_Humidity)
print(temp_Sensor11.head())
print(temp_Sensor11.shape)

target_string_temp = F12-2F-CLEANROOM03
                 Name         Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM03  Temperature    0.0   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM03  Temperature    0.0   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM03  Temperature    0.0   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM03  Temperature    0.0   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM03  Temperature    0.0   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM03_Temperature
0  2019/05/27  00:05                      0.0
1  2019/05/27  00:10                      0.0
2  2019/05/27  00:15                      0.0
3  2019/05/27  00:20                      0.0
4  2019/05/27  00:25                      0.0
                 Name      Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM03  Humidity    0.0   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM03  Humidity    0.0   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM03  Humidity    0.0   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM03  Humidity    0.0   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM03  Humidity    0.0   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM03_Humidity
0  2019/05/27  00:05                   0.0
1  2019/05/27  00:10                   0.0
2  2019/05/27  00:15                   0.0
3  2019/05/27  00:20                   0.0
4  2019/05/27  00:25                   0.0
         Date   Time  CLEANROOM03_Temperature  CLEANROOM03_Humidity
0  2019/05/27  00:05                      0.0                   0.0
1  2019/05/27  00:10                      0.0                   0.0
2  2019/05/27  00:15                      0.0                   0.0
3  2019/05/27  00:20                      0.0                   0.0
4  2019/05/27  00:25                      0.0                   0.0
(1897, 4)

sensor_12

In [31]:
target_string = sensor_12
target_string_temp = global_sensor + target_string
print("target_string_temp =",target_string_temp)
temp = df_Temperature[(df_Temperature['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor12_Temperature = temp[(temp['Type']=='Temperature')].reset_index(drop=True)
# temp_Sensor12_Temperature['Sensor12_Temperature'] = temp_Sensor12_Temperature['Value']
target_string = sensor_12 + "_Temperature"
temp_Sensor12_Temperature[target_string] = temp_Sensor12_Temperature['Value']
temp_Sensor12_Temperature = temp_Sensor12_Temperature.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor12_Temperature.head())

temp = df_Humidity[(df_Humidity['Name']== target_string_temp)].reset_index(drop=True)
print(temp.head())
print(temp.shape)
temp_Sensor12_Humidity = temp[(temp['Type']=='Humidity')].reset_index(drop=True)
# temp_Sensor12_Humidity['Sensor12_Humidity'] = temp_Sensor12_Humidity['Value']
target_string = sensor_12 + "_Humidity"
temp_Sensor12_Humidity[target_string] = temp_Sensor12_Humidity['Value']
temp_Sensor12_Humidity = temp_Sensor12_Humidity.drop(['Name','Type','Value','Unit'], axis=1)
print(temp_Sensor12_Humidity.head())

temp_Sensor12 = pd.merge(temp_Sensor12_Temperature,temp_Sensor12_Humidity)
print(temp_Sensor12.head())
print(temp_Sensor12.shape)

target_string_temp = F12-2F-CLEANROOM04
                 Name         Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM04  Temperature   25.7   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM04  Temperature   25.7   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM04  Temperature   25.6   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM04  Temperature   25.6   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM04  Temperature   25.7   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM04_Temperature
0  2019/05/27  00:05                     25.7
1  2019/05/27  00:10                     25.7
2  2019/05/27  00:15                     25.6
3  2019/05/27  00:20                     25.6
4  2019/05/27  00:25                     25.7
                 Name      Type  Value  Unit        Date   Time
0  F12-2F-CLEANROOM04  Humidity   61.9   NaN  2019/05/27  00:05
1  F12-2F-CLEANROOM04  Humidity   61.9   NaN  2019/05/27  00:10
2  F12-2F-CLEANROOM04  Humidity   62.0   NaN  2019/05/27  00:15
3  F12-2F-CLEANROOM04  Humidity   61.9   NaN  2019/05/27  00:20
4  F12-2F-CLEANROOM04  Humidity   61.9   NaN  2019/05/27  00:25
(1897, 6)
         Date   Time  CLEANROOM04_Humidity
0  2019/05/27  00:05                  61.9
1  2019/05/27  00:10                  61.9
2  2019/05/27  00:15                  62.0
3  2019/05/27  00:20                  61.9
4  2019/05/27  00:25                  61.9
         Date   Time  CLEANROOM04_Temperature  CLEANROOM04_Humidity
0  2019/05/27  00:05                     25.7                  61.9
1  2019/05/27  00:10                     25.7                  61.9
2  2019/05/27  00:15                     25.6                  62.0
3  2019/05/27  00:20                     25.6                  61.9
4  2019/05/27  00:25                     25.7                  61.9
(1897, 4)

Merge All

In [32]:
# temp_AHU_ALL = pd.merge(temp_Sensor1,temp_Sensor2)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor1)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor2)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor3)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor4)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor5)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor6)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor7)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor8)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor9)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor10)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor11)
temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_Sensor12)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU09)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU10)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU11)
# temp_AHU_ALL = pd.merge(temp_AHU_ALL,temp_AHU12)
temp_AHU_ALL.head()

,Date,Time,AHU01_Status,AHU01_SH,AHU01_ST,AHU02_Status,AHU02_SH,AHU02_ST,AHU03_Status,AHU03_SH,...,F08_Temperature,F08_Humidity,CLEANROOM01_Temperature,CLEANROOM01_Humidity,CLEANROOM02_Temperature,CLEANROOM02_Humidity,CLEANROOM03_Temperature,CLEANROOM03_Humidity,CLEANROOM04_Temperature,CLEANROOM04_Humidity
0,2019/05/27,14:25,1,86.6444,15.2794,0,70.1827,22.9632,1,82.9596,...,24.7,61.2,24.3,72.7,25.6,66.5,0.0,0.0,25.5,63.0
1,2019/05/27,14:30,1,86.5539,15.2478,0,70.0606,22.9315,1,81.1827,...,24.7,61.0,24.3,72.7,25.6,66.4,0.0,0.0,25.5,63.0
2,2019/05/27,14:35,1,86.3776,15.2591,0,69.8436,22.8298,1,80.9160,...,24.7,61.0,24.3,72.5,25.6,66.4,0.0,0.0,25.6,62.8
3,2019/05/27,14:40,1,86.1877,15.1912,0,69.4909,22.8502,1,82.8872,...,24.7,60.6,24.3,72.2,25.6,66.1,0.0,0.0,25.6,62.6
4,2019/05/27,14:45,1,86.5268,15.2410,0,69.4502,22.7394,1,78.8769,...,24.7,60.6,24.3,72.1,25.6,65.9,0.0,0.0,25.6,62.5

In [33]:
temp_AHU_ALL.to_csv('AHU.csv',index=False)